[2016-01-27 09:54] NathanWalker opened #1 "usage of lodash"
@mgechev, just curious if you know any other way to make `lodash` work in the seed setup besides this:
https://github.com/NathanWalker/angular2-seed-advanced/blob/master/tools/config.ts#L94
https://github.com/NathanWalker/angular2-seed-advanced/blob/master/app/app/components/app.ts#L4

I was trying to `import * as _ from 'lodash';` but that fails.

[2016-01-28 10:54] #1 closed, assigned to nobody

[2016-03-08 19:04] ocombe opened #2 "Update ng2-translate"
Hello,

your ng2-translate requirement is ^1.8.0, I made some breaking changes in 1.10.0 and you need to update your code. More info here: https://github.com/ocombe/ng2-translate/releases/tag/v1.10.0

I should have released a major version but well.. :-)

You could also freeze the dependency to 1.9.0 until you update your code

[2016-03-09 01:36] dskaggs opened #3 "Error in MultilingualService"
I followed the instructions in the "How To Start" section and all went without error until I ran `npm start`.

During the `build.js.dev` Gulp task, the following error was emitted:
`src/frameworks/i18n.framework/services/multilingual.service.ts(36,17): error TS2339: Property 'useStaticFilesLoader' does not exist on type 'TranslateService'.`

![npm-run-error](https://cloud.githubusercontent.com/ass

[2016-03-09 02:30] AaronJin2013 commented on #3
I have the  error,too.

[2016-03-09 04:58] NathanWalker commented on #2
Thanks for heads up @ocombe ! I'll freeze until I have time to update.

[2016-03-09 05:03] NathanWalker commented on #3
Related to breaking changes in `1.10.0` https://github.com/NathanWalker/angular2-seed-advanced/issues/2

I have just pushed a change to lock it to `1.9.0` for now to prevent the `^` from updating you to the latest breaking change version. Please pull latest and try once more. Thanks for the heads up here @dskaggs and @AaronJin2013  :+1:
https://github.com/NathanWalker/angular2-seed-advanced/commit

[2016-03-09 06:37] NathanWalker commented on #3
Oh btw, it would be best to 'rm -rf node_modules' and then do a fresh npm install after pulling that latest commit.

[2016-03-09 13:28] dskaggs commented on #3
I completely blew away the entire directory, cloned again and set it back up. Verified that ng2-translate in package.json set at 1.9.0 and I still get the same error on `npm start`

[2016-03-09 14:56] NathanWalker commented on #3
@dskaggs Looking into it now. I'm just going to go ahead and update to latest `1.10.0` of ng2-translate. One moment...

[2016-03-09 15:01] realsaraf opened #4 "Electron / Nwjs support"
Hi @NathanWalker,

This a wonderful effort. I really like the organization of the project. Any ideas when you are planning for the electron support? some hints on how it can be done would be appreciated. At least a gulp task to launch the app as it is on electron would be helpful.

[2016-03-09 15:05] #2 closed, assigned to nobody

[2016-03-09 15:05] NathanWalker commented on #2
Updated to `1.10.0` now.

[2016-03-09 15:07] NathanWalker commented on #3
Ok @dskaggs I have updated to latest `ng2-translate` and have verified everything on my end.
I'm using node `v5.5.0` with npm `3.5.3` on a Mac.

All tests pass and web runs with no errors. {N} app always has a few TS warnings but everything runs well there too.

Blow away again and try this. Thanks for hanging in there, lemme know.

[2016-03-09 15:08] ocombe commented on #2
:+1:

[2016-03-09 15:18] NathanWalker commented on #4
@realsaraf Thank you for the kind words.
Here's a couple excellent resources on Electron + ng2:

https://github.com/angular/angular-electron

https://www.xplatform.rocks/2016/02/14/angular2-and-electron-the-definitive-guide/

https://auth0.com/blog/2015/12/15/create-a-desktop-app-with-angular-2-and-electron/

Good tips: http://blog.axosoft.com/2016/03/04/electron-things-to-know/

My hope is to bri

[2016-03-09 15:22] realsaraf commented on #4
Hi @NathanWalker ,

Thank you for your prompt response and the tips. I will try to follow what you said and if i come up with something good, i will try to submit a PR.

[2016-03-09 15:22] NathanWalker commented on #4
As far as NW.js, there are these comparisons:
https://www.xplatform.rocks/2016/02/09/nw-js-vs-electron/

http://tangiblejs.com/posts/nw-js-electron-compared

[2016-03-09 15:23] realsaraf commented on #4
Thanks

[2016-03-09 15:39] dskaggs commented on #3
All good now. Thanks for whipping this out.

[2016-03-09 15:39] #3 closed, assigned to nobody

[2016-03-09 15:45] NathanWalker commented on #3
Thanks again @dskaggs, Enjoy!

[2016-03-09 23:15] Sn3b opened #5 "update to latest seed?"
Hi,

Will you be updating this seed with all the latest changes done on the original seed?

Thanks :)

[2016-03-10 02:18] NathanWalker commented on #5
Hopefully soon like tonight or tomorrow ;)

[2016-03-10 08:19] Sn3b commented on #5
That'd be so great ;)

Thanks, great job btw! :)

[2016-03-10 14:18] Sn3b commented on #5
BTW, I actually meant the whole restructuring to separate project and seed code, so that we can extend, as in use it for a real project, and continue to benefit from the seed's updates.

[2016-03-10 15:46] dskaggs commented on #5
This goes along with a question that I had been thinking about making an issue for. The README says that you've got some more things that you'll be adding to the seed project in the future (Bootstrap is one that specifically interests me). If we start a project based on the current version of this project, what will we need to do to update it to the latest version when you add new capabilities to

[2016-03-11 02:14] NathanWalker commented on #5
@Sn3b @dskaggs Now updated with latest upstream changes from `angular2-seed`.

This took awhile. Was quite a number of refactorings.
Due to all the changes, it may be best to start with a fresh clone of this if you were working with it.
There will likely no longer be that big of a change from the parent seed for awhile to come so most all should be settled now.

One big addition: this now implemen

[2016-03-11 02:33] NathanWalker commented on #5
@dskaggs regarding bootstrap, lets address that in a separate issue (if you don't mind creating a separate issue for that specifically?)

Lastly, I don't want to close this issue just yet as I'd like to get both of your feedback on which strategy to take now that this extensibility of the tasks and project config is in. On this pass, I put the customization here:
https://github.com/NathanWalker/an

[2016-03-11 04:25] dskaggs commented on #5
I'm still trying to get my head around what the workflow looks like if we create a new project based on this seed project. We use BitBucket to store our repos privately. How would we start a project from this repo, remove all the sample stuff and start building our own app and then integrate changes to this repo into our project that we've been doing work on.

[2016-03-11 05:17] NathanWalker commented on #5
Best way forward would be to:

### Setup
1. Download a zip of the seed.
2. `git remote add origin ....your private repo....`
3. `git remote add upstream https://github.com/NathanWalker/angular2-seed-advanced.git`
4. Create a new `framework` for your application in `src/frameworks` to build your codebase out. Say your app is called `Skaggs`, then create `skaggs.framework` and start building out all

[2016-03-11 08:10] Sn3b commented on #5
Super thanks for the update, was just waiting for that to start doing some real code for my project :)

As for the seed.config.ts vs project.config.ts question, what about having a 3rd file? Say, advanced.config.ts?

[2016-03-11 22:15] NathanWalker commented on #5
@Sn3b That's an excellent idea :+1: I'll look into that.

[2016-03-11 22:15] #5 closed, assigned to NathanWalker

[2016-03-13 07:30] NathanWalker commented on #5
@Sn3b Thanks again for the great suggestion. This now exists here:
https://github.com/NathanWalker/angular2-seed-advanced/blob/master/tools/config/seed-advanced.config.ts

Which allowed the `project.config` to just extend:
https://github.com/NathanWalker/angular2-seed-advanced/blob/master/tools/config/project.config.ts#L5

:+1:

[2016-03-13 09:04] Sn3b commented on #5
@NathanWalker Great! Thanks for this beautiful seed! ;)

[2016-03-14 14:47] dskaggs commented on #5
@NathanWalker thanks for the workflow info. We'll be doing just that this week to start working on a proof of concept for our next project with this seed.

[2016-03-16 20:46] dskaggs opened #7 "Integrate ng-bootstrap"
As requested, creating a separate ticket to track getting ng-bootstrap implemented in the seed project.

[2016-03-16 22:37] NathanWalker commented on #7
Curious to swing @d3viant0ne in here. Josh, you are working on a Material Design integration correct?

I've been trying to make a decision as to whether to integrate MD or Bootstrap into master.
Whichever one did not go to master, I was thinking of having a branch with the other or if someone wanted to keep up with a forked integration into the other. Thinking aloud here.

[2016-03-18 09:21] x4080 commented on #7
MD is nicer for Android similarities and I want to shout out to @NathanWalker great job man :)

I think I use your card view plugin (pod)

[2016-03-18 13:19] joshwiens commented on #7
@dskaggs - https://github.com/DeviantJS

I'll be done with an integration example/guide for Material2 shortly & ng2-bootstrap by the end of the day.

Given the advanced seed is based off the original, you should have a clean map to adding the same to the advanced seed.

[2016-03-18 13:51] dskaggs commented on #7
@d3viant0ne Many thanks. I'm traveling at the moment but will definitely take a look early next week.

[2016-03-19 02:17] NathanWalker commented on #7
@x4080 Thanks, hopefully the card view plugin is working alright for ya'. There's still some things to fix with it I believe.

@d3viant0ne Thank you for all your efforts on the parent seed!

[2016-03-19 07:16] NathanWalker opened #8 "Integrate angulartics2"
https://github.com/angulartics/angulartics2

[2016-03-19 13:36] joshwiens commented on #7
@dskaggs - For reference, ng2-bootstrap isn't in very good shape as a package. More than a few console errors, broken references / components. I'll keep the example repo up to day as they release new packages, hopefully it stabilizes.

I'm going to take a crack at using vanilla bootstrap4 to see if I can get better results.

[2016-03-20 16:19] NathanWalker opened #12 "Fix e2e tests"
Couple updates needed.

[2016-03-20 17:32] #12 closed, assigned to NathanWalker

[2016-03-22 04:21] st-clair-clarke opened #14 "Changing name of seed project"
In 'How best to use for your project' I see 'Create a new framework for your application in src/frameworks to build your codebase out. Say your app is called AwesomeApp, then create awesomeapp.framework and start building out all your components and services in there. Create other frameworks as you see fit to organize.'

The name of this project is 'angular2-seed-advanced'.How do I change the name

[2016-03-23 16:09] NathanWalker commented on #14
Hi @st-clair-clarke thanks for your question.
- You can rename the folder that you downloaded of the zip of the seed to your project
- Change to your project name here: https://github.com/NathanWalker/angular2-seed-advanced/blob/master/package.json#L2
- Change to your project desc here: https://github.com/NathanWalker/angular2-seed-advanced/blob/master/package.json#L4
- Change to your project repo

[2016-03-23 16:09] #14 closed, assigned to nobody

[2016-03-24 13:51] aaweb opened #15 "Workflow for mobile development"
Hello there

First of all, thanks for this amazing project. I trying to find the best way to develop on iOS using the simulator.

I can run the app using:
`npm run start.ios`

However, live sync does not seem to work. I also tried running the following from the nativescript folder:
`tns livesync ios --emulator --watch`

After the usual typescript errors, it says "Compilation complete. Watching for

[2016-03-24 15:05] NathanWalker commented on #15
@aaweb You're welcome, hope it's working out for you.

There's 2 things to keep in mind here.
1. `npm run start.ios` actually copies contents of `src` directory into `nativescript` folder. Given this, when you make changes in `src`, `livesync` would not see them since `livesync` would only be watching the `nativescript` folder. We would need another `watch` task that would pick up changes in `src`

[2016-03-24 15:05] #15 closed, assigned to nobody

[2016-03-26 01:18] #8 closed, assigned to NathanWalker

[2016-03-26 01:31] NathanWalker opened #18 "Angulartics2 + Segment for NativeScript App"
The web implementation is available in the seed now and works well.
In order to implement for the NativeScript App will require getting the native iOS/Android SDK's for Segment in a plugin being worked on here:
https://github.com/NathanWalker/nativescript-segment

The iOS side presents a blocker at the moment due to some CocoaPod issues:
https://github.com/NathanWalker/nativescript-segment/issues/

[2016-03-27 01:30] NathanWalker commented on #4
Experimentation is being done here:
https://github.com/NathanWalker/angular2-seed-advanced/tree/4-electron-support

Blocked by `Router` trouble at moment.

Run by the following:

[code]

[2016-03-27 16:49] st-clair-clarke commented on #7
I would vote for support of ng2-material. So  when the official angular2-mateirial is released the application will not look very much different.

[2016-03-27 17:12] st-clair-clarke opened #19 "Translation does not work in Firfox v45.0.1"
Hi Nathan,
I have found that although the advanced-seed project is displayed in Firefox v45.0.1, the translation does not work.

[2016-03-27 17:24] st-clair-clarke opened #20 "Changed pages are not reloaded in Chrome, Canary or Firefox"
Hi Nathan,
After changing a .ts, .html, etc, source in  the advanced-seed project, I see the gulp task print the 'Reloading page...' in the console, but the page does not actually reload.

I think the problem lies with the seed dependency on LiveReload. I installed LiveReload 2.1.0, but clicking the icon in the browser attempting to enable it always result in

'Could not connect to LiveReload serv

[2016-03-27 21:47] #19 closed, assigned to NathanWalker

[2016-03-27 21:48] NathanWalker commented on #19
Thanks @st-clair-clarke good find! Just pushed the fix :+1:

[2016-03-27 21:54] NathanWalker commented on #20
Hi @st-clair-clarke, thanks for the report. I'm seeing reloads work just fine in Chrome `Version 49.0.2623.108 (64-bit)`, and Firefox `45.0.1`.

You shouldn't need 'LiveReload' extension in your browser as it's handled all through the seed and BrowserSync. That may be your issue, may need to uninstall that extension or disable it with the seed.

Additionally, the advanced seed here mirrors the bui

[2016-03-27 21:54] #20 closed, assigned to nobody

[2016-03-28 06:50] #4 closed, assigned to NathanWalker

[2016-03-28 06:56] NathanWalker commented on #4
This is available on master now.
https://github.com/NathanWalker/angular2-seed-advanced#electron-app

![Desktop](https://d2wp4shknjcfjl.cloudfront.net/api/file/1O4FRGsSHS8g0Lz3EKNy)

[2016-03-28 10:43] red010b37 opened #23 "templateUrl and styleUrls - wrong linkage breaks production build"
Hi, - first off love the project!

The original seed project uses linkages like this
    templateUrl: './login.component.html',
    styleUrls: ['./login.component.css'],

But the currect advanced one uses
  templateUrl: './components/login/login.component.html',
  styleUrls: ['./components/login/login.component.css']

when I think it should be as the original above.

This is also causing the produ

[2016-03-28 17:20] st-clair-clarke commented on #20
You were correct Nathan. After uninstalling LiveReload, everything now work as expected. Thanks again.

[2016-03-29 05:10] NathanWalker commented on #23
@red010b37 Thanks for this report. I'm investigating this.
The usage of the full url vs. relative is intentional and due to how nativescript is integrated.
However, I'm seeing something else wrong with the `prod` build. I'll try to fix this in next couple days (or tonight if I can).

[2016-03-29 05:31] #23 closed, assigned to NathanWalker

[2016-03-29 05:34] NathanWalker commented on #23
ok @red010b37 prod build works now. If you pull latest, then do the following:

[code]

This will start a server of the production build. Then open your browser to `http://localhost:8000` to see it.

The `dist/prod` folder can then be deployed to any server.
Again, component `templateUrl` in this seed will always be full paths vs. relative to component due to NativeScript integration.

Let me know

[2016-03-29 09:16] red010b37 opened #24 "Testing with build watch and karma causes double load"
Thanks for the other fix - works great :)

I am doing TDD with the following setup

**Debug - In two different shell windows**
npm run build.test.watch      # 1st window
npm run karma.start           # 2nd window

Then I edit/create a spec file and save, I then get a karma double run

Firstly as the dist folder rebuilds then the watcher fires a karma runs which gives
SUMMARY:
✔ 0 tests completed

[2016-03-29 15:01] NathanWalker commented on #24
@red010b37 You might ask that question on the parent seed as the build here simply mirrors that setup.
https://github.com/mgechev/angular2-seed/issues

[2016-03-29 15:01] #24 closed, assigned to nobody

[2016-03-29 17:32] Sn3b opened #25 "is moduleId: module.id a good or bad idea?"
Hey I've just noticed you don't use moduleId: module.id at the top, is there a reason?

I've seen it allows referencing html and css files relatively:

[code]

instead of:

[code]

[2016-03-29 19:01] NathanWalker commented on #25
Good question and I should probably mention this in the`README`.
Due to the NativeScript integration and necessity to swap view paths out at runtime for {N} XML equivalents, the full path is needed to map to an appropriate matching view location in the `nativescript.framework`, therefore relative paths are _not_ used like they are in the parent seed.

I'm not sure this will change here anytime soo

[2016-03-29 19:01] #25 closed, assigned to nobody

[2016-03-29 23:18] jvitor83 opened #26 "Error in rxjs (Not found)"
**Error in rxjs (Not found)** at master in latest commit in 29-03-2016 (https://github.com/NathanWalker/angular2-seed-advanced/commit/417dd55970425640085d3db08dc3f4d522199248)

Error: XHR error (404 Not Found) loading http://localhost:5555/rxjs/add/observable/of.js
        at XMLHttpRequest.wrapFn [as _onreadystatechange](http://localhost:5555/node_modules/angular2/bundles/angular2-polyfills.js?14

[2016-03-30 05:37] NathanWalker commented on #26
@jvitor83 Thanks for heads up. I noticed `ng2-translate` has a new version as of today and it may have introduced an issue. Investigating this now.

[2016-03-30 05:48] #26 closed, assigned to NathanWalker

[2016-03-30 05:51] NathanWalker commented on #26
@jvitor83 Just pushed a fix for this to lock to the working version of `ng2-translate`. Thanks again for this report. I will submit a PR to `ng2-translate` to fix this on the latest version.

Please do the following:

[code]

Let me know if you have any further issue.

[2016-03-30 08:42] Sn3b commented on #25
Ok thanks! :)

[2016-03-30 20:22] aaweb commented on #15
In another project I worked around it by adding a file in the `before-watch` folder which creates a symbolic link:

[code]

Not sure what other implications that would have, but in your case removing spec files and such wouldn't work as done in 'npm prepare'.

Any example or advice on where and how to best add a watcher for that? That's my number one "annoyance" right now :) Thanks again for the g

[2016-03-31 14:59] amirtoole opened #29 "Error: Cannot find module 'gulp-symdest' when running build.desktop.mac"
Ran:
npm run build.desktop.mac

Received error:
Error: Cannot find module 'gulp-symdest'

Simple fix; will PR

[2016-03-31 15:48] NathanWalker commented on #29
closed by: https://github.com/NathanWalker/angular2-seed-advanced/pull/30

[2016-03-31 15:48] #29 closed, assigned to nobody

[2016-04-01 23:01] NathanWalker opened #32 "Record video explanations"
- explain test providers; why/how
- explain how teams can setup reusable test scenarios
- explain test shorthand

[2016-04-02 02:56] st-clair-clarke opened #33 "Where are the angular2-router implementation in this seed"
I know you stated that questions should be asked at the angular2-seed repo, but angular2-seed-advanced has a different folder-structure and src than angular2-seed. I asked a question relevant to angular2-seed-advanced at [http://stackoverflow.com/questions/36346227/angular2-failing-to-load-component-although-webstorm-resolves-it-correctly](http://stackoverflow.com/questions/36346227/angular2-faili

[2016-04-02 03:15] NathanWalker commented on #33
Please provide what your patient component looks like here. It's not in the SO post either.. I believe the issue may be coming from the way you have the view referenced there.

[2016-04-02 03:18] st-clair-clarke commented on #33
## patient.comp.ts

import { ChangeDetectionStrategy } from 'angular2/core';
import { RouteConfig } from 'angular2/router';
import { NameListService } from '../../frameworks/app.framework/index';
import {
    RouteComponent, AnalyticsService
} from '../../frameworks/core.framework/index';
import { LangSwitcherComponent } from '../../frameworks/i18n.framework/index';
import { NavbarComponent } from

[2016-04-02 03:38] NathanWalker commented on #33
This is the AppComponent.
Need to see the PatientComp ;)
At least the @Component part of it anyway.

[2016-04-02 04:31] st-clair-clarke commented on #33
A thousand apologies.

import { MATERIAL_DIRECTIVES } from 'ng2-material/all';
import { BaseComponent } from '../../../../../frameworks/core.framework/index';

//import { MdButton } from "ng2-material/components/button/button";

@BaseComponent({
                 selector   : 'epimss-patient',
                 templateUrl: './src/frameworks/epimss.framework/components/reg/patient/patient.comp.view.

[2016-04-02 04:48] st-clair-clarke commented on #33
### patient.comp.view.html

`
<div>
  This is my patient component!
</div>`

[2016-04-02 04:52] NathanWalker commented on #33
Change:

[code]

To:

[code]

It must be relative to your server root, which in this case is `dist/dev`. If you look in there, you will see **no** `src` folder, just `frameworks` in the root.

Hope you're liking the seed.
Cheers! :+1:

[2016-04-02 04:52] #33 closed, assigned to nobody

[2016-04-02 04:52] NathanWalker commented on #33
Btw, I'll comment on the SO post now with that as well.

[2016-04-02 04:54] NathanWalker commented on #33
If you could upvote that SO answer when you get a chance would be appreciated!

[2016-04-02 05:16] st-clair-clarke commented on #33
Your answer is 100% on the money Nathan. Thanks. To think I have spent the last three days trying to solve it! The seed is the best one yet. I have big plans for what I am doing and the seed is the perfect start. I am in the process of setting up a github account so I can synchronised my repo and yours. I like the translation and the ability to run the code on the differing OS's. Thanks again.

An

[2016-04-05 14:36] NathanWalker opened #34 "Refactor: create analytics.framework so it could be swapped out easily if desired"
- move analytics service out of core and onto its own

[2016-04-05 15:10] #34 closed, assigned to NathanWalker

[2016-04-06 12:30] mmoonn2 opened #36 "ask a question. How to use html replace xml"

[2016-04-06 21:13] NathanWalker commented on #36
Hi @junjun16818 Thanks for the question. If I understand correctly, are you asking about how the NativeScript XML/HTML swap works and how to set it up?

If so, please read [this article first](http://angularjs.blogspot.com/2016/03/code-reuse-in-angular-2-native-mobile.html) to understand how it works and then lemme know if you are still needing clarification.

[2016-04-07 18:09] OscarAgreda opened #37 "Adding Angular Material v2.0 or Ionic 2.0 to the Advanced Seed"
for the past 3 months, I have spent hours, even full whole days doing hard core Mad Science trying to decide between .
-Xamarin - i am a senior .Net developer., my days are full of C#E, besides Xaml comes naturally
-Apache Cordova , with 3 years with Angular and built 3 enterprise apps, i now love my JavaScript and angular coding ... love it so much , so i wanted to hybrid with Cordova. unfortunat

[2016-04-07 21:14] NathanWalker commented on #37
Hi @OscarAgreda, this is really great to hear, thank you and you're welcome.
Many thanks must also go to @mgechev and the many contributors on the fantastic parent seed [angular2-seed](https://github.com/mgechev/angular2-seed).

You may be happy to hear a fantastic contributor, @d3viant0ne, has been working on `Angular Material 2` integration here: https://github.com/DeviantJS/angular2-seed-materi

[2016-04-07 22:57] joshwiens commented on #37
@NathanWalker @OscarAgreda I was actually pondering an Ionic2 integration this weekend if for nothing else, covering most of the major integrations.

On a personal note, i'm currently vetting hybrid-mobile offerings for work. Ionic2 is on that list along with NativeScript. Lucky @NathanWalker did a kick ass job on this one which only leaves Ionic2.

I'm pretty set on the integration & i'm happy to

[2016-04-08 11:10] aaweb opened #38 "Testing Workflow"
Hey Nathan

Just a quick question about what the intended workflow is for testing or test-driven development. Currently, I'm using the debug commands:

[code]

However, even when using `iit` or `ddescribe` to only run certain tests, the delay from save to the tests actually passing takes at least 30 seconds.

Is this workflow only meant for debugging or what is the intended usage here? Glad to hea

[2016-04-08 13:47] joshwiens commented on #37
@OscarAgreda - Some things to note with @angular2-material

@NathanWalker is a fan of Material2 as am I, when it's in a state that would not be detrimental to the user base as a whole, what's in the Material2 fork will most likely be rolled down to this repo and the fork deleted. I would expect that to happen at some point in the Material2 Beta timeframe assuming @NathanWalker wants Material2 in t

[2016-04-08 14:00] joshwiens opened #39 "chore(deps): Angular2 Beta.14"
- Angular2-beta.14
- RxJS 5.0.0-beta.5 (broken - observable typings)

[2016-04-08 14:39] joshwiens opened #41 "chore(devDeps): Update dev dependencies"
**Major**
- stylelint-config-standard to 5.0.0
  - Removed: font-family-name-quotes, function-url-quotes and string-quotes rules

**Minor**
- tslint to 3.7.1
  - Enhancements & new rules / rule options
- stylelint to 5.3.0
  - Various rule fixes
  - SugarSS & Less syntax support
- colorguard to 1.1.1
  - Upstream dependency updates

**Patch**
- ts-node to 0.7.1
  - Fix for absolute paths
- typings

[2016-04-08 16:58] #39 closed, assigned to nobody

[2016-04-08 16:58] #41 closed, assigned to nobody

[2016-04-08 23:31] NathanWalker commented on #38
Hi @aaweb, that is the current TDD workflow at the moment.
If you'd like to see improvements to that or have any suggestions, you might post an issue on the parent [angular2-seed here](https://github.com/mgechev/angular2-seed/issues). All build tooling at the moment derives directly from that parent seed for consistency.

This discussion brings up some related issues: https://github.com/mgechev/an

[2016-04-08 23:31] #38 closed, assigned to nobody

[2016-04-08 23:34] NathanWalker commented on #36
@junjun16818 If that article helped to answer your question, please close this issue or let me know if you need further explanation, thanks!

[2016-04-09 23:16] OscarAgreda opened #43 "Adding Socket.IO to the Advanced Seed"
I don't want to sound as if the Advanced Seed needs anything to be better, because is already a great blessing for us developer.

But, have you considered to include Socket.IO and can that works across multi platforms.

for example, on a CRM app, **User A** who is running the CRM on an IPhone, updates the "Customer Information" , and at the same time the information is also updated "Socket.IO Real

[2016-04-10 00:37] OscarAgreda commented on #43
Currently, we achieve the above using the Microsoft Stack on the backed and of course Angular 1.5 (could be lower) on the front end.

By using AngularJs **$emit** in conjunction with the SignalR jQuery plugin **proxy.invoke** on the front end to send messages to the SignalR server Hub, do some server stuff here if we need to, then the server broadcasts back to the specified clients on the front en

[2016-04-11 16:47] NathanWalker commented on #43
Hi @OscarAgreda I'd be open to this. Would you want to try a PR?

[2016-04-11 16:47] #36 closed, assigned to nobody

[2016-04-13 20:59] khuongduybui commented on #43
Have you all considered PubNub?
https://www.pubnub.com/docs/web-javascript/pubnub-javascript-sdk

[2016-04-14 06:56] mrgoos commented on #43
You should consider primus instead. This way, everybody will use their favorite websocket technology.

[2016-04-14 11:57] khuongduybui commented on #43
@mrgoos primus is not a bad choice as a client-side library, though it requires us developers to host our own websocket server. In the case of PubNub, they host the server (with cdn) for us.

[2016-04-14 13:01] mrgoos commented on #43
@khuongduybui - you can host it wherever you like without being forced to use a freemium service.

[2016-04-14 18:37] dskaggs opened #45 "Standardize function name in log service"
I'd like to propose a name change for the public method `o()` in the log service. It's the only one that is not named with a full word (like error, warn and info).

The output from the method shows up in the "Log" tab in Chrome developer tools. To keep things consistent, I'd recommend renaming the method to log().

If that's something you're interested in, I'd be happy to do a PR updating the serv

[2016-04-14 23:31] khuongduybui commented on #43
@mrgoos uhm, you're right, I can write a PubNub engine for primus if I need to. That's more convenient.

[2016-04-15 00:34] NathanWalker commented on #45
Using `log.log` would be pretty odd, so maybe we can change the name of the variable for `LogService` wherever it is injected to `logger`, so:
https://github.com/NathanWalker/angular2-seed-advanced/blob/6622727af4ae3bf5c2f988dd123bd5afce8d2d78/src/client/app/components/app/toolbar.component.ts#L14-L17

[code]

would become:

[code]

Which I still don't love actually. I agree it could and should be

[2016-04-15 00:42] dskaggs commented on #45
The other thought I had was just change `log.o()` to `log.out()` (like in the comment above it). At least that gives a little more indication than a single letter.

One final thought would be to add a `log.debug()` call to replace `log.o()` completely. Of the "standard" logging levels that people think about, debug is the only one that is absent from the list of methods in the logging service. How

[2016-04-15 00:49] NathanWalker commented on #45
Hmm I like `debug`... it will either be that or `out` (which was my first thought initially), thanks for the suggestions! I'll make a change on that soon.

[2016-04-15 00:55] dskaggs commented on #45
I think `debug` is more descriptive. This app that we're starting will need the environment bits wired into the log service at some point so we can turn debug logging on and off on demand in production. So `debug` would make it clearer what you're enabling/disabling too I think. Of the 2 options, `debug` would be my choice.

[2016-04-15 03:51] #45 closed, assigned to nobody

[2016-04-15 03:51] NathanWalker commented on #45
@dskaggs Thanks again for bringing this up. Went with `debug` as you suggested. I like it.

[2016-04-15 05:27] mrgoos commented on #43
No need to write anything related to PubNub. Just to use primus on the server side.
It's free and works great with ANY websockets technology.

[2016-04-15 06:32] deepakgd opened #46 "Issue in isActive"
PFA i am facing this issue whenever i am trying to search isActive as true

![image](https://cloud.githubusercontent.com/assets/8350548/14553147/dcf15f86-0301-11e6-8f2e-fe1090cc6bdd.png)

[2016-04-15 15:44] dskaggs commented on #45
Thanks @NathanWalker. I'm not sure this doesn't make things a bit more confusing though. What I'd had in mind (and I realize now I didn't articulate well), was to have the LogService debug() method utilize `console.debug()` so that the debug statements would show up correctly in dev tools (like using `$log` in Angular 1.x does). Currently `LogSerivce.debug()` still outputs to the "Log" tab whereas

[2016-04-15 16:34] aaweb commented on #15
Hm... I tried manually changing a component's html file under `src/nativescript/app/components` to try to see if I can "simulate" what a watch task should do. However, nothing is triggered if I change it there. It is triggered however when I change it in `src/client/app/components`.

Where would I need to hook into for that?

I'd really like to figure this out as iOS development like this is no jo

[2016-04-15 20:14] scayssials opened #47 "require node module in renderer process"
What configuration we need to change to be able to use file system for example on ipcRenderer in a component?

I have tried to use

[code]

but I have an error that say (launch with npm start)

[code]

[2016-04-16 01:20] NathanWalker commented on #46
Hi @deepakgd , it appears you may have posted on the wrong repo. Your issue looks to be related to https://github.com/ssuperczynski/ng2-easy-table following your stack trace there. You might try posting an issue there, best of luck!

[2016-04-16 01:20] #46 closed, assigned to nobody

[2016-04-16 01:24] NathanWalker commented on #47
It appears you may be trying to load `electron` from within the web build?  Given the `localhost:5555` error there.
To run the electron app, follow these instructions: https://github.com/NathanWalker/angular2-seed-advanced#electron-app

Then you should be able to load `electron`, lemme know!

[2016-04-16 01:26] NathanWalker commented on #43
PubNub would be interesting. PR's are definitely welcome!

[2016-04-16 01:39] NathanWalker commented on #45
@dskaggs Been very busy day... n/p at all! I'll adjust that after awhile....

[2016-04-16 02:04] NathanWalker commented on #45
Ok @dskaggs Just pushed that adjustment up there, much better, thanks again!

[2016-04-16 02:11] dskaggs commented on #45
Thanks a bunch. Just pulled your changed into our repo. Thanks again for you work on this!

[2016-04-16 11:17] joshwiens opened #48 "bug(tools): ngrx error in production build"
Exists in #master when executing `npm run build.prod`

node -v : v5.10.1
npm -v : 3.8.3

[code]

I'll PR a fix as soon as I finish my coffee

[2016-04-16 11:36] joshwiens commented on #43
@NathanWalker - Things like this start getting into the realm of opinion. Would it not be a better approach to not "muddy the waters" and just go the route of the base seed which runs extended forks & docs?

IMO You have crossed from "example of extending the seed" to a repo that people are forking to extend.

Implementing technologies that have numerous options ends up limiting peoples options or

[2016-04-17 06:25] mrgoos commented on #43
^^Exactly my thoughts.
This is why I suggested primus so user could use whatever websocket technology that he/she wishes like socket.io, engine.io etc.

[2016-04-18 13:32] aaweb opened #49 "ActionBar action items not working"
Hey Nathan

I tried adding some action items to the home component as also demonstrated in the NativeScript docs (https://docs.nativescript.org/ApiReference/ui/action-bar/HOW-TO):

[code]

However, I am getting an error:

`EXCEPTION: Error: Uncaught (in promise): TypeError: view._inheritProperties is not a function. (In 'view._inheritProperties(this)', 'view._inheritProperties' is undefined)
`

I

[2016-04-18 15:12] NathanWalker commented on #49
Hi @aaweb, you will want to use `nativescript-angular` specific markup here. A good place to look at the moment is the `ng-sample` app inside the `nativescript-angular` repo. There's several examples, but here's one specific to `ActionBar` and items:
https://github.com/NativeScript/nativescript-angular/blob/master/ng-sample/app/examples/action-bar/action-bar-test.ts

From your example above, basic

[2016-04-18 15:12] #49 closed, assigned to nobody

[2016-04-18 15:15] NathanWalker commented on #49
You might want to bookmark this page:
https://www.nativescript.org/nativescript-is-how-you-build-native-mobile-apps-with-angular

It is still under development but more `nativescript-angular` specific documentation will be there soon.

[2016-04-18 16:01] aaweb commented on #49
I tried that too, but without success.

Repro:
1. Vanilla checkout of angular2-seed-advanced
2. Added ActionItem in home.component.html as you did
3. Running gets the following error:

[code]

I also tried adding the directives to app.ts as I thought they were not available, but with the same result:

[code]

Thanks for link, @NathanWalker. I realize it's early days, hope these reports and questio

[2016-04-18 16:15] NathanWalker commented on #49
N/p @aaweb so yes if you are using `ActionItem` with the first route component, there is a workaround required.
In your bootstrap, modify like so:

[code]

👍

[2016-04-18 16:54] Jonatthu opened #50 "Error on npm install "cb() never called""
Node version: 5.9.1
Npm version: 3.8.6

I get an error when I want to install
"npm ERR! cb() never called! "
This only happened with Angular2-seed-advanced, my other projects don't have this issue.
I followed this post to try fix this issue https://www.bountysource.com/issues/974628-install-fails-with-cb-never-called

But it couldn't resolve anything the same message after that tutorial.

Any solu

[2016-04-18 16:58] ericmartinezr commented on #50
See https://github.com/angular/angular/issues/8053 , you have to upgrade to node 5.10.1

[2016-04-18 17:00] #48 closed, assigned to nobody

[2016-04-18 17:04] Jonatthu commented on #50
Thanks a lot

[2016-04-18 17:04] #50 closed, assigned to nobody

[2016-04-18 17:23] NathanWalker commented on #49
@aaweb lemme know if that worked for you?

[2016-04-18 17:36] jakeNiemiec opened #51 "Error on npm install: npm ERR! cb() never called!"
**Current behavior**

[code]

**Other information**

Modify dependencies for working install:

[code]

Related: https://github.com/angular/angular/issues/8053

[2016-04-18 17:57] jakeNiemiec commented on #51
It only happens with 5.9.x
Upgrade node to fix.

[2016-04-18 17:57] #51 closed, assigned to nobody

[2016-04-18 18:21] aaweb commented on #49
The workaround worked! Thanks so much.

[2016-04-18 18:50] NathanWalker commented on #43
I agree with @d3viant0ne here. It's definitely leaning towards a heavy opinion based implementation. May be best to do something like this on a branch perhaps? If anyone wanted to submit a PR, I'd be happy to place on a branch and mention it.

[2016-04-18 19:40] joshwiens commented on #43
@NathanWalker - I was trying to get Minko to go that route. Pick a few "supported extensions" and then run them as branches thus simplifying the validation process for things landing in #master.

Just rebase them up and the CI takes care of the rest.

[2016-04-19 07:56] murth opened #52 "Possible problem with Android builds"
I'm just starting out with this stuff, so it's possible I made a mistake, however by following the guide in the readme of this seed, electron and most else of it works, but if I build an apk I get the following, whether I put it on my Nexus 5 running CM12 directly, or using android-sdk with nexus 5 and android 6.0 intel_x64 (I haven't tested others).

Just follow the instructions in the readme fro

[2016-04-19 14:46] #52 closed, assigned to nobody

[2016-04-19 14:47] NathanWalker commented on #52
@murth Thank you so much for reporting this. Indeed, console.debug (a recent change) was not supported with Android (worth noting iOS **does** support it). At any rate, I just pushed up the fix for all platforms. Thanks again!

[2016-04-19 18:26] OscarAgreda commented on #43
Agree 100%.
While for me asp.net core 1.0 is where the sun shines right now, and where i will push entity framework core with LinQ under the webapi controllers. For other people mongo and mongoose make more sense .
So i guess for me the route is signalR 3 (next from Microsoft ).
nevertheless all of the server stuff is nothing compared to the awesome angular2 advanced seed. because of the outstandi

[2016-04-19 19:15] fredericlefeurmou commented on #47
How is it possible to access electron from within main.web.ts?

`import * from 'electron'` doesn't seem to work. I tried to add the electron path in the system config but it didn't work.

Edit: My app is running locally

[2016-04-20 16:47] jakeNiemiec opened #53 "Both (npm run & gulp) docs commands no longer work."
Both (npm run & gulp) docs commands no longer work.

Output of gulp docs:

[code]

[2016-04-22 00:41] NathanWalker commented on #53
Hi @jakeNiemiec Thanks for tracking this. I just pushed up a couple things that help however it does not solve it. There are now errors related to rxjs... likely related to fact that beta.4 is being used here and not beta.2 as advised. I may wait this out until angular supports latest beta.6. I'll keep an eye on this, thanks.

[2016-04-22 00:42] NathanWalker commented on #47
You can access it `main.desktop.ts` since that is the main file electron uses.

[2016-04-27 22:29] Sn3b opened #55 "Hello.js"
Just a thought, but I think integrating Hello.js would be super cool.

I can only imagine such an advanced seed would be used for advanced projects with users and stuff, and Hello.js makes using social logins really easy. The rest would be up to the backend tech of course, but a well integrated, fully client side solution for logging with facebook, google etc in your seed would be awesome :)

[2016-04-28 15:41] NathanWalker commented on #55
Hi @Sn3b, definitely a great library and very useful! I'm open to things like that on branches but likely not on master branch since authentication is the type of thing that can be done so many different ways and is left to many opinions. However if you'd like to implement that on a fork and post back on this issue, I'll create a branch and I could merge it there for future use by anyone wanting t

[2016-04-28 15:41] #55 closed, assigned to nobody

[2016-04-28 15:43] NathanWalker commented on #43
I'm going to close this, thanks again for the suggestion and kind words @OscarAgreda, just to conclude if a PR were submitted with such functionality, it could be merged to a feature branch for future reference.

[2016-04-28 15:43] #43 closed, assigned to nobody

[2016-04-28 15:44] #47 closed, assigned to nobody

[2016-04-29 06:27] OlivierMary opened #56 "Cannot find module 'angular2/platform/common'."
Hi,

**Steps to reproduce and a minimal demo of the problem**
From the last version `ee0959dcc5943ce817568f8413f209cb32d258c1`

[code]

**Current behavior**

Console :

[code]

Chrome :

[code]

**Expected/desired behavior**

No error :+1:

**Other information**

Tests :

[code]

[2016-04-29 06:32] NathanWalker commented on #56
Thanks @OlivierMary awaiting several 3rd party libs to update to beta.16/beta.17 to clear this.
https://github.com/CodeSequence/ngrx-store-router/pull/5
https://github.com/ngrx/store/pull/86

[2016-04-29 07:41] OlivierMary commented on #56
Hi,

Ok @NathanWalker , any workaround ?

[2016-04-29 09:46] dvulanov opened #57 "Webpacks support for web production deployment"
This looks like a really great scaffold, but I don't see anything for web deployment, like webpacks or jpsm.

Are there any plans to implement this, or am I missing something?

Thanks for the great work!

[2016-04-30 05:54] mashhoodr commented on #56
Yeah just cloned this today, having the same issue. It will be nice to have a workaround until those libraries are updated

[2016-04-30 06:30] NathanWalker commented on #56
Hope to provide a workaround tomorrow... There's a couple things that could be done. In meantime, try this, lock this dependency in `package.json`:

Change:

[code]

To this:

[code]

Then:

[code]

lemme know.

[2016-04-30 06:38] mashhoodr commented on #56
yeah its working with the above fix, thanks a lot!

[2016-04-30 06:40] NathanWalker commented on #56
good to hear... I'll likely push that to master shortly for now.

[2016-04-30 06:40] #56 closed, assigned to NathanWalker

[2016-05-01 17:40] fourctv opened #58 "Why not a 'Shared' folder for common stuff"
Looking at the files inside Client & NativeScript, there are a lot of duplicates.

Why not a Shared, or Library, or ?, as a location for all common shared files between the multiple targets?

Maybe that topic has been discussed already, and I'm coming late. Forgive me if that is the case.

[2016-05-02 05:22] NathanWalker commented on #57
Hi @dvulanov thanks for your kind words and question.

You can run:

[code]

To view the production build in the browser. It builds out to `dist/prod` and runs from there.

You can also run:

[code]

To simply build production to `dist/prod`. Then you can drop the contents of `dist/prod` on any web server host.

[2016-05-02 05:22] #57 closed, assigned to nobody

[2016-05-02 05:25] NathanWalker commented on #58
Hi @fourctv thanks for the question. The files in `nativescript` folder and `client` folder are different actually. If you are referring to the `node_modules` that get installed in the `nativescript` folder vs. the root of the project; there's definitely duplicate installed modules there. This is for a couple reasons. Right now, the {N} app does not use the seed build and also requires slightly di

[2016-05-02 11:11] mshahin364 opened #59 "How to add Third party(3rd) library"
Could you describe how to add 3rd party library like jquery,bootstrap into the project?

[2016-05-02 18:50] fourctv commented on #58
Thanks for the reply Nathan.
Actually my question was based on the contents in NativeScript folder **after** I had built the seed's sample.
Now I noticed that all those components are copied from src/Client. So, there are no "actual" duplicates. I can understand the need for a 'local' `node_modules` and separate build scripts etc.
So, yeah, my mistake, no need for a separate `shared` folder struct

[2016-05-02 18:50] #58 closed, assigned to nobody

[2016-05-03 09:38] vincentpalita commented on #59
@mshahin364 look here: https://github.com/mgechev/angular2-seed/wiki/Add-external-scripts-and-styles

[2016-05-03 14:44] jakeNiemiec commented on #53
@NathanWalker Thanks, this made me realize that you need a foundation of knowledge to work with this stuff; no one seed project is a silver bullet.

Also for the record, this is now the output:

[code]

[code]

[2016-05-03 18:03] NathanWalker commented on #59
Thanks @vincentpalita , indeed since this seed mirrors it's parent, the process is exactly the same 👍

[2016-05-03 18:03] #59 closed, assigned to nobody

[2016-05-03 23:18] lorenjerickson opened #60 "out-of-the-box @angular/core not found from @ngrx"
**Steps to reproduce and a minimal demo of the problem**
Following the Getting Started guide.
1. clone the angular2-seed-advanced repo
2. npm install
3. npm start

_What steps should we try in your demo to see the problem?_
- Observe the following error in the build output during build.js.dev task

[code]
- Observe correlating error in javascript console of browser running app

[code]

**Current b

[2016-05-03 23:24] NathanWalker commented on #60
I'll try to update to RC tonight or at some point tomorrow. In meantime you can lock angular version to beta.17 and ngrx to 1.4.0

[2016-05-04 01:26] lorenjerickson commented on #60
Thanks, I've been involved in a laying the foundation for what will be a very large project, and ng2/typescript seem great, but I can appreciate that trying it keep up with ng2 builds can be a full time job.

[2016-05-04 03:32] mshahin364 commented on #59
Thanks @vincentpalita, It's helped me.

[2016-05-04 05:15] vincentpalita commented on #59
@mshahin364: Glad it helped you!

[2016-05-05 05:24] NathanWalker commented on #60
@lorenjerickson I have the versions locked for time being but will get this updated to RC as soon as I get a chance.

[2016-05-07 17:22] diestrin opened #61 "[Feature Request] Add angular-universal to render server side"
This is a fantastic seed project. Congratulations, I really appreciate your time.

I'm opening this to keep an open ticket for implementing angular universal in the project, this will make the full stack complete.

This is already a super excellent, well-thought structure, adding server side will make it even better.

Regards.

[2016-05-07 19:57] diestrin commented on #53
I was trying to get this to work, but it seems like TypeDoc is not being so friendly. They are using TS 1.6 and we're on 1.8 already. And it seems like TS 1.8 solves the `Ambient modules cannot be nested in other modules` issue. :/

Maybe consider moving to https://github.com/docscript/docscript or even better https://blogs.msdn.microsoft.com/typescript/2016/02/22/announcing-typescript-1-8-2/

[2016-05-08 01:56] NathanWalker commented on #61
Thank you @diestrin, I attended @gdi2290 and Jeff's Universal workshop Thursday at ngConf just for this purpose :)
Hope to get to this soon.

[2016-05-08 04:06] diestrin commented on #61
That's great! I've been playing with the https://github.com/angular/universal-starter repo they uploaded and the configurations. So if I can help with anything, just let me know.

[2016-05-08 17:39] jvitor83 commented on #61
I think this should be in another fork since there is several server-side tecnologies that we can choose.
And can be allowed to choose between only client-side (this repo) and with server-side with tecnology of your choice (.net, java, node). Can start with only one.
Well, its just a idea.

At a background, i started a project at my company with a private fork of this project and like the result o

[2016-05-08 21:23] NathanWalker commented on #61
Thanks @jvitor83 I tend to agree. Maybe on a branch?
@diestrin If you wanted to fork and help implement universal-starter on a branch then I could merge into a `universal` branch here?

[2016-05-09 00:56] diestrin commented on #61
Good insights @jvitor83. Sure @NathanWalker, I'll try to do a proposal, and yes, the branch strategy makes completely sense.

[2016-05-09 02:23] Jimmysh opened #62 "angular2-seed update to rc.1"

[2016-05-09 02:45] NathanWalker commented on #62
👍 I just merged that PR on the parent seed. You're making me chuckle over here :) I'll get this updated with the parent tonight.

[2016-05-09 06:27] NathanWalker commented on #62
I have everything updated on a branch but 1 last 3rd party lib will need to update to rc.1, ng2-translate to finish. @ocombe looks like theres a PR for ya https://github.com/ocombe/ng2-translate/pull/115 👍

[2016-05-09 11:59] chriswep opened #64 "Organising template files in the same folder for all platforms"
I did some code changes [here](https://github.com/metzc/angular2-seed-advanced/commit/2f4082cde30b5b53d2fee3ce8af298d918d254e2) to show the idea of the (feature?) request.

Having all the template files side by side for one component would feel way more natural for me (and also more in the spirit of this seed, as far as i understand it).

This currently fails on runtime (iOS) with:
`Error: File ap

[2016-05-09 14:46] rodolfocop commented on #62
I saw that they are committed also to update to version 2.0.0 RC.1
I am awaiting for this update.

[2016-05-09 16:51] NathanWalker commented on #64
Hi @metzc thanks, I will be bringing this change in soon however it will be based on this:  https://github.com/NathanWalker/nativescript-ng2-magic which uses `.tns.html` suffix to handle it and it works with the Parse5DomAdaptor issue where `.html` is required with views but you can still use {N} xml just fine in the `.tns.html` files.
https://github.com/NathanWalker/nativescript-ng2-magic#how-to-

[2016-05-09 16:53] NathanWalker commented on #60
Update to rc.1 should be complete at some point today. Just awaiting @ocombe to merge a PR for ng2-translate. https://github.com/NathanWalker/angular2-seed-advanced/issues/62

[2016-05-09 17:13] ocombe commented on #62
You can use v2.1 of ng2-translate, I just merged the PR updating to RC1

[2016-05-09 17:14] ocombe commented on #60
You can now use v2.1 of ng2-translate :)

[2016-05-09 17:29] NathanWalker commented on #60
Thank you sir!

[2016-05-10 03:04] NathanWalker commented on #62
Master is now updated to rc.1 👍

[2016-05-10 03:04] #62 closed, assigned to nobody

[2016-05-10 03:05] NathanWalker commented on #60
Master is now updated to rc.1 👍

[2016-05-10 03:05] #60 closed, assigned to nobody

[2016-05-10 03:19] lorenjerickson commented on #60
gratzi!

[2016-05-10 04:45] JakePartusch opened #67 "Error while running protractor tests"
**Steps to reproduce and a minimal demo of the problem**
npm run webdriver-update
npm run webdriver-start
npm run serve.e2e
npm run e2e

**Current behavior**

[code]

**Other information**
Related?
https://github.com/angular/protractor/issues/3181

[2016-05-10 05:24] NathanWalker commented on #67
Thanks @JakePartusch! not sure, I'll see what I can find out.

[2016-05-10 16:25] chriswep commented on #64
nativescript-ng2-magic looks great! is the plan to fully merge it into the seed?

[2016-05-10 16:27] NathanWalker commented on #64
I believe I will. I've been debating on whether I want to combine the decorator from magic with the one here. At any rate, this integration will be in by the end of the week.

[2016-05-10 21:46] fourctv opened #68 "Am I doing the pull/merge correctly?"
I followed the suggestions on forking the seed, by downloading a zip version and configuring upstream/master. Did that a couple weeks ago and started working on my project.

Sed is awesome btw, thanks for the effort.

Then today, I did this to get my project to the latest seed:

But now I have 100's of conflicts. It looks like the merge did not work as expected, following the suggested workflow!

[2016-05-10 22:21] s-f-a-g commented on #68
Hi,
I think the problem is that you forked the project.

1 > create dir my_project (or whatever)
2 > cd my_project
3 > git init
4 > git remote add origin BASED ON YOUR OWN REPO
5 > eventually git pull origin master to retrieve your project
6 > git remote add upstream SEED_PROJECT_URL
7 > git fetch upstream
8 > git merge upstream/master
9 > git add .
10 > git commit -m "Your message"
11 > git push

[2016-05-10 22:26] s-f-a-g opened #70 "Electron build (windows) not working"
**Steps to reproduce and a minimal demo of the problem**

npm run build.desktop.windows or start.desktop.windows. The app seems to build, executable is in the folder, everything seems fine

_What steps should we try in your demo to see the problem?_
Launch the executable.

**Current behavior**
The app is stuck on "Loading..." and doesn't load at all.

**Expected/desired behavior**
Having angular c

[2016-05-10 22:51] NathanWalker commented on #68
@fourctv How long has it been since you first downloaded seed?
I assume this is first time you've attempted a fetch and merge?

Usually best to merge upstream master in after downloading and setting up the remotes, this ensures that git is sorted before waiting to merge much later after you've made significant changes.

[2016-05-10 22:52] NathanWalker commented on #68
I need to setup a gitter... at moment you can chat me on google chat: walkerrunpdx

[2016-05-10 23:07] fourctv commented on #68
@NathanWalker @sebfag I guess I missing the first fetch/merge after downloading seed.

I've made very little changes to the seed itself. I have all my stuff as separate components/files. Most of changes were in package.json & typings.jason to add some 3rd party libraries.

I guess I'll start over, grab a new seed and then move in my stuff.

thanks for the help, closing this now.

[2016-05-10 23:07] #68 closed, assigned to nobody

[2016-05-11 01:45] NathanWalker commented on #68
@fourctv One good thing about the setup is if you do get into `merge hell`, if you had just created a new framework for your codebase and just created new components, it should be easy to download fresh zip and drop the folders of your custom stuff in and away you go. 👍

Chat me on google if you need help.

[2016-05-11 02:48] nlmueng commented on #70
Fails on mac also, here is the errors in the console

`zone.js?1462934431716:101 GET file:///node_modules/@angular/core/package.json net::ERR_FILE_NOT_FOUND

index.html:98 Error: Error: XHR error loading file:///node_modules/@angular/core/package.json(…) "Report this error at https://github.com/NathanWalker/angular2-seed-advanced/issues"`

[2016-05-11 05:44] #67 closed, assigned to nobody

[2016-05-11 05:45] NathanWalker commented on #67
Found it, protractor needed this: `require("zone.js/dist/zone-node");`
Thanks again for the report 👍

[2016-05-11 06:08] OscarAgreda commented on #61
Great !!!
here is the session, in case someone wants to see the awesome sauce in action

[https://www.youtube.com/watch?v=TCj_oC3m6_U](url)

[2016-05-11 06:45] #70 closed, assigned to nobody

[2016-05-11 06:46] NathanWalker commented on #70
Hi @sebfag @nlmueng thanks for pointing this out.
Just pushed up the fix, please pull latest and all will be working for you now.

[2016-05-11 09:24] #64 closed, assigned to nobody

[2016-05-11 09:35] NathanWalker commented on #64
@metzc This is available on master now, see the new commands as well:
https://github.com/NathanWalker/angular2-seed-advanced#nativescript-app

This also creates a symbolic link between web src and {N} app so you can now make changes in either folder and they will be the same. Lastly, this makes `livesync` work with {N} dev workflow.
You will want to pull and run `npm install` again as the symbolic

[2016-05-11 17:12] cthrax opened #71 "JSPM Support?"
First off, thanks for the great seed and for staying on top of the moving target that is angular2.

This is really a question more than a feature request. I've been working on integrating this to my existing angular (and large) 1.x app, by adding in angular-upgrade, and switching from bower to jspm for package management. I'm just curious why you opted for the manual configuration of npm dependenc

[2016-05-11 17:17] NathanWalker commented on #71
Hi @cthrax thanks for the question. I actually rely on the underpinnings from the parent seed  https://github.com/mgechev/angular2-seed So if jspm were implemented there, it would be here as well.

I can't speak for Minko, but I believe the goal was to maintain the lowest overhead and stay true to just plain `systemjs`.

Personally, I have actually grown found of plain SystemJS (initially did not

[2016-05-11 17:17] #71 closed, assigned to nobody

[2016-05-11 17:40] cthrax commented on #71
That makes sense. One other quick question, since you seem to have used systemjs more than me, how do you handle dependencies that are a little more freeform than one might hope? I've been relying on the overrides that jspm offers, but I assume you're relying on custom shims for each of these? Or is there a better method?

Thanks for the quick reply!

[2016-05-11 17:57] OscarAgreda commented on #32
I will suggest to start the video , telling the viewers they have to follow the steps from the ReadMe page under  **Usage**. Because the steps work fine , are so easy to follow , take some time to complete and the viewer must do his/her homework.
then , in my opinion

-how to add a custom page
-how to have the client app communicate to a http endpoint.
-make an allusion that is the pro version of

[2016-05-11 17:59] NathanWalker commented on #32
Really really appreciate this suggestion @OscarAgreda, part of the reason I have procrastinated recording the video is I keep going back/forth on what should be highlighted in a help video.
This helps a ton and totally agree.

[2016-05-11 18:53] flavius-popan opened #72 "[Feature Request] Integrate rlite/rlite-js as a provider for LocalStorage"
It would be great to use a client side implementation of redis for LocalStorage. The [rlite](https://github.com/seppo0010/rlite) and [rlite-js](https://github.com/seppo0010/rlite-js) node.js bindings could make life a lot easier!

[2016-05-11 20:00] NathanWalker commented on #72
Hi @fzsix Thanks for this idea :) Because things like this tend to be very opinionated from one project to another, I couldn't implement this on master, but feel free to fork and integrate and I would highlight in the README here 👍

[2016-05-11 20:00] #72 closed, assigned to nobody

[2016-05-11 20:23] OscarAgreda commented on #32
Thank you :100:

Also, the first thing a user of this the template will need, is the ability to implement **nativeScript** PLUGINS; camera , location via GPS, keyboard, etc for example .
in the past, all we had was the apache cordova + ionic system., in which plugins was a painful experience , so thank you for this seed, once again.

now, regarding Electron , is it possible to use the **autoUpdate

[2016-05-11 20:27] flavius-popan commented on #72
In the [Additional Features coming soon](https://github.com/NathanWalker/angular2-seed-advanced#additional-features-coming-soon) section you listed

Have you already picked one out? I'm not exactly sure what you mean by

since you did select other projects to integrate for other features. I guess I'm a little confused as to why this seems too opinionated if the provider is still in the tbd stage.

[2016-05-11 20:41] NathanWalker commented on #72
I've been thinking more an Angular2 service layer for that with no dependency on other languages. Correct me if I'm wrong but rlite depends on Ruby and Redis?

The other integrations are either (#trending) or becoming a preferred _way_ to do things in modern development. There may be things that sway from this but trying to keep that at a minimum.

But yeah, just trying to keep things within Angul

[2016-05-11 21:39] NathanWalker opened #73 "Add collaborators grid to README"

[2016-05-12 05:01] OscarAgreda commented on #43
What about using Angular Firebase 2

literally can build a chat for no more than 200 lines of code.

I think realtime applications are part of modern apps, and the Angular Firebase 2 is an example of it.

`https://github.com/angular/angularfire2`

[2016-05-13 13:09] flavius-popan commented on #72
@NathanWalker Nope! No ruby at all, it's written in C (rlite) and I also linked the JS Bindings. This is a well supported version of Redis that is intended to run on the client side with first class support for javascript. Which is why I thought it would be a great fit for this project.

[2016-05-13 14:14] CharlBest1 commented on #7
+1 for ng2-material integration into seed project. This is an awesome project guys!! Thanks a lot :)

[2016-05-13 14:33] fdu-axiometrics opened #76 "update to electron version 1.0"
**Steps to reproduce and a minimal demo of the problem**

update electron-prebuilt to version 1.0.3

and run npm run start.desktop.windows

[2016-05-13 15:09] #73 closed, assigned to NathanWalker

[2016-05-13 15:52] joshwiens commented on #7
ng2-material will eventually be deprecated in favor of angular2-material which means adding it now, just means we have to rip it out later.

The answer here is to simply let the visual component frameworks mature and then run simple guides / example branches on how to integrate them into the advanced seed. Adding one just means that someone else has to rip it out in order to user his or her prefer

[2016-05-16 12:05] mtabaj commented on #37
Hi Oscar,
What is the situation with Material2?  May we expect to be in the project soon?

[2016-05-16 15:59] joshwiens commented on #37
@mtabaj Material2 is an Alpha, that should say everything you need to know about it.

As for seeing it in the Advanced Seed, list I have heard from @NathanWalker the approach will be to integrate common libraries in branches or forks but not into seed#master as it limits the scope of the users that can use the project without gutting libraries they don't need.

As far as adding Material2 to the ad

[2016-05-17 19:12] divramod opened #78 "livereload possible with Electron?"
hey,

wow, thx for this awesome boilterplate!!!

i saw that livereloading is commented out.

how can i get it running?

[2016-05-17 19:27] NathanWalker commented on #78
Livereload should work? Where do you see it commented out and what system are you running where it is not working for you? node, windows/mac, etc.

[2016-05-17 19:37] divramod commented on #78
i am running electron on ubuntu with `npm start`
is it possible to have livereloading for electron?

[2016-05-17 20:34] NathanWalker commented on #78
Ah there we go, that's a little more specific :)  I'm not 100% certain on livereloading with electron. I'll modify title and see if anyone is able to help here?

[2016-05-17 20:54] JakePartusch commented on #78
Maybe this? https://github.com/Quramy/electron-connect

[2016-05-17 20:58] NathanWalker commented on #78
@JakePartusch looks like that would work, thanks!! Ok this is on TODO list :) Unless community gets it before I which I would never mind 👍  Will be several days before I can get here.

[2016-05-18 11:25] sarath2 opened #79 "Error when applied modifications"
first time project run well(npm start)
gave following error after modified  files and saved (even add single letter to index).
`localhost/:103 Error: Error: Cannot resolve all parameters for 'AnalyticsService'(?, ?). Make sure that all the parameters are decorated with Inject or have valid type annotations and that 'AnalyticsService' is decorated with Injectable.`

If I stop the server and run aga

[2016-05-18 17:15] NathanWalker commented on #79
Hi @sarath2 I haven't run into this myself. Seems strange that a DI error like that would be caused by some small change as described but then be fine when starting fresh.
node/npm version? mac/windows?

[2016-05-18 17:43] sarath2 commented on #79
on MAC
sh-3.2# node -v
v5.3.0
sh-3.2# npm -v
3.9.0

Also I tried more than 5 time same error came.
But on angular2-seed working well.

[2016-05-18 18:01] NathanWalker commented on #79
Definitely odd. I just cloned the repo fresh into a new directory, then did:

[code]

Then made 1 line change in `index.html` and page refreshed and no errors.

I'm using `node v5.5.0` with `npm v3.5.3` which is a standard node pairing.
Not sure if related but your npm version is higher and your node version is lower than that pairing.
You might try using a recommended pair, I'd be interested to h

[2016-05-18 18:42] sarath2 commented on #79
I upgraded node to v5.5.0 and downgraded npm to v3.5.3
then ran,
`npm i`
 `npm start`
same error on client console and page showing only "dd Loading..." I modified loading text on index
also seems error on server console as following

<pre>
[00:17:10] Starting 'build.dev'...
[00:17:10] Starting 'build.assets.dev'...
[00:17:10] Finished 'build.assets.dev' after 119 ms
[00:17:10] Starting 'build.htm

[2016-05-18 19:43] NathanWalker commented on #79
[code]

give that a try ^  (basically need to make sure your installs are clean after that version change up)

[2016-05-18 20:16] sarath2 commented on #79
I ran above with `sudo`, but same issue came.
I'll try fresh install on another PC and let you know.

[2016-05-18 20:25] NathanWalker commented on #79
Very curious on this @sarath2 so please keep me posted!
Could also be some global node module installed that is interfering somehow.
You might see this on how to clear and reinstall all your global npm modules:
http://stackoverflow.com/questions/9283472/command-to-remove-all-npm-modules-globally

[2016-05-19 07:05] sarath2 commented on #79
I think something wrong on my pc.
I have success on other pc and I copied complete project with node_modules from that PC.
Then ran on my pc, it is working well.

[2016-05-19 07:05] #79 closed, assigned to nobody

[2016-05-20 18:03] divramod commented on #78
hey, i created a running pull request.

i am not that deep into electron. but it is basically running.

on the first change it is running slow. but the following changes are reflected faster.

[2016-05-20 19:26] NathanWalker commented on #78
Thanks again for the PR @divramod It's on master and we all have a livereload setup for Desktop/Electron because of you. Awesome.

[2016-05-20 19:26] #78 closed, assigned to nobody

[2016-05-20 19:28] divramod commented on #78
juhu :-)

[2016-05-21 21:59] fourctv opened #84 "Suggestions to improve workflow"
Here is one suggestion to improve Read.me's "How to use..." workflow:
- add a note that user must do a 'git fetch upstream' & 'get merge upstream/master' before anything else, to ensure local/origin repo is up to date with seed's repo
- maybe also add a 'merge' script to package.json that does both steps. I have something like that in my copy:

`"merge": "git fetch upstream && git merge --no-commi

[2016-05-22 03:59] NathanJGaul commented on #84
Added this to my own workflow. Thank you!

[2016-05-22 04:19] NathanWalker commented on #84
@fourctv Awesome suggestion. This will be going into master soon!
Should we have 2 commands? 1 for `--no-commit` and the other that would finish?
`npm run merge.preview`
`npm run merge`
?

I could also add a `npm run setup` which would auto setup the `upstream` to further simplify things.

[2016-05-22 04:58] #84 closed, assigned to nobody

[2016-05-22 05:01] NathanWalker commented on #84
Both `npm run merge.preview` and `npm run merge` are available now.
There is also `npm run setup`. Instructions have been modified in readme: https://github.com/NathanWalker/angular2-seed-advanced#how-best-to-use-for-your-project

[2016-05-22 13:15] fourctv commented on #84
That was just perfect. Nice improvement to my suggestion. Glad to be of help.

[2016-05-22 18:29] NathanWalker opened #85 "Electron: auto-updater to ease desktop deployments"
Per https://github.com/NathanWalker/angular2-seed-advanced/issues/32#issuecomment-218578611

Integration:
https://github.com/electron/electron/blob/master/docs/api/auto-updater.md

[2016-05-22 19:46] jovermier opened #86 "Deep Linking"
Please add deep linking to this seed as it is not trivial with the framework structure used.

[2016-05-22 20:33] NathanWalker commented on #86
Could you please elaborate here?

[2016-05-22 20:41] jovermier commented on #86
The top level nav has multiple links (Home, About, etc). Lets say there was a new component called "Top 3 Computer Scientist of All Time" which would be added to the list of nav links. That component (Top 3 CS) has it's own nav (separate from the top level nav) that would link to 3 sub components which would be the profile for each of the top 3 scientists.

Another common example would be a profil

[2016-05-22 21:33] divramod opened #88 "[Nativescript] Android Router Problem"
hey,

i am just testing the nativescript app on an android device.

if i tab the About Button, the About Page is opened in a Modal.

when i hit the android back button, it flickers shortly, and then the About Page is opened again in the Modal and the console logs: `JS: Language change: en`.

So, no way of coming back home.

Besides that, the "About Page Modal" does not show the navigation directiv

[2016-05-22 21:52] NathanWalker commented on #86
This should work just fine now with `PathLocationStrategy`?

[2016-05-22 21:56] NathanWalker commented on #88
On things like this, I would recommend checking posted issues [here](https://github.com/NativeScript/nativescript-angular/issues) as well as [here](https://github.com/NativeScript/nativescript/issues). First see if it has been reported and then you may post an issue if you don't find one.

[2016-05-22 21:56] #88 closed, assigned to nobody

[2016-05-22 21:57] divramod opened #89 "[Nativescript] generated js and js.map clutter directories"
hey,

when using

[code]

typescript generates all the js and js.map files inside the src/ directory.

these files clutter the directories and force the other livescyncs (electron, browser) with change-events for their respective watchers.

is it somehow possible to have a own dist/natviescript/ directory from where the nativescript files could be served, so that the src/ directory will be kept cl

[2016-05-22 21:59] divramod commented on #88
ok

[2016-05-22 22:02] NathanWalker commented on #86
Additionally your question here seems to be more specific to 'how to implement with Angular 2' and for things like that, best to follow the official docs [here](https://angular.io/docs/ts/latest/).

Since the nav will remain the same here and is subject only to modifications made to it's parent seed [angular2-seed](https://github.com/mgechev/angular2-seed) I would recommend adding deep linking to

[2016-05-22 22:02] #86 closed, assigned to nobody

[2016-05-22 22:06] NathanWalker commented on #89
1. I would not recommend running multiple watches for `electron`, `browser`, and `nativescript` at the same time. Not only would it be resource intensive but not a recommended workflow.
2. The `.js` and `.js.map` files generated by the {N} runtime should not interfere with anything and they are ignored by `git` so I don't see any pressing issue to resolve.
3. I would set your IDE to ignore those `

[2016-05-22 22:06] #89 closed, assigned to nobody

[2016-05-24 19:57] divramod opened #93 "[setup] problem when installing on a second machine"
hey,

i followed the steps you described in the setup section.
then i uploaded the changes to my git repo.
after that i cloned the repo on another machine and tried to npm install.
that try gave an error, which says that the file tools/install.js is missing.
i saw in the .gitignore, that you are ignoring that file and so its not going to be uploaded into the repo.

i copied the file manually and a

[2016-05-24 21:14] NathanWalker commented on #93
Actually it's not ignoring it (the opposite):
https://github.com/NathanWalker/angular2-seed-advanced/blob/master/.gitignore#L38

[2016-05-24 21:16] NathanWalker commented on #93
The change went in 14 days ago:
https://github.com/NathanWalker/angular2-seed-advanced/commit/dbfc791ed31a7282783269be93bf1b871160568c

It's possible you are working off a version of the seed prior to that commit which may have been ignoring that file which is why you did not have it on yours.

Please ensure you are up to date with latest master:

[code]

[2016-05-24 21:16] #93 closed, assigned to nobody

[2016-05-25 00:30] NathanWalker commented on #61
@diestrin Just wanted to follow up on this. Not sure you have anything in the works, but once this proposal goes through on parent seed, it will end up here and will help this effort:
https://github.com/mgechev/angular2-seed/issues/913

[2016-05-25 00:31] NathanWalker commented on #7
closing this in favor of this: https://github.com/NathanWalker/angular2-seed-advanced/issues/37

[2016-05-25 00:31] #7 closed, assigned to nobody

[2016-05-25 01:14] NathanWalker opened #94 "i18n: evaluate Angular core framework i18n support"
Some background:
https://github.com/angular/angular/issues/7480

@ocombe If you have any relevant links here would be great. Just curious to begin evaluating the core i18n support the framework is starting to provide.

[2016-05-25 01:16] NathanWalker commented on #76
@fdu-axiometrics Is the current version causing you any trouble, just curious?

[2016-05-25 04:05] JakePartusch commented on #61
@diestrin, if you haven't started, I'm interested in playing with this. @NathanWalker do you know what the estimated timeline is for the upstream decoupling?

[2016-05-25 04:41] diestrin commented on #61
Yeah @JakePartusch, go ahead. I wanted to be part of this, but haven't had the time. I just did some sails+angular2 integration, but didn't like it (it was obviously a test, I don't think we should do something that coupled with a framework like Sails)
And that's actually the problem, not sure if go straight with express and include a base express server in the branch, but what if someone else is

[2016-05-25 05:21] joshwiens commented on #61
@diestrin -
Express has drama ( FU IBM ) no way I would use this now or in the future.
Loopback === $$$ and integrates with nothing.
Sails is well, sails

IMHO the only real viable options right now are KOA & HapiJS ( I just built P.O.C's at work for everything mentioned )

[2016-05-25 14:26] fdu-axiometrics commented on #76
yeah. I actually I found a fix. the electron import changed. not sure if you have already fixed it.

[2016-05-25 16:47] friksa commented on #59
I followed the steps at https://github.com/mgechev/angular2-seed/wiki/Add-external-scripts-and-styles for jquery.  Did a npm --save install jquery and I can see it installed under node_modules.

The issue is that list/dev/node_modules does not have a copy of jquery.  I even tried npm run build.dev

What else do I need to configure to get jquery into the distribution?

Thanks for a great project!!

[2016-05-25 18:49] NathanWalker commented on #61
@diestrin no worries at all! we are all pressed with time ;)
@JakePartusch I am not sure Minko's timing on that but I'm expecting it sometime this week, at least by the weekend? I hope.

@d3viant0ne I'm not sure on server choice either. @JakePartusch maybe chat with @d3viant0ne on this slack channel  http://developer.telerik.com/wp-login.php?action=slack-invitation before you start with something

[2016-05-25 18:51] dskaggs commented on #61
@d3viant0ne Any references you can provide on your opinions of Express and LoopBack? I'm looking at doing some work with StrongLoop potentially and would like to read up on what gives you that opinion.

[2016-05-25 19:29] joshwiens commented on #61
@dskaggs - My opinions are based on building p.o.c's for a platform conversion from Java to Node over the last six months.

Express, if you do some digging was sold than kind of maintained and then came drama as IBM tries to drive users into using loopback. I'm going to keep my opinions to myself on this one but with a bit of reading, you can pretty easily see the writing on the wall here. This pl

[2016-05-26 08:08] wangfaxi1985 opened #95 "libgtk-x11-2.0.so.0: cannot open shared object file: No such file or directory"
**IMPORTANT**: in deepin linux os ,when this shell: npm run build.desktop.linux  done,run  ./angular2-seed-advanced
 display error like this:
./angular2-seed-advanced: error while loading shared libraries: libgtk-x11-2.0.so.0: cannot open shared object file: No such file or directory

when i run Electron API Demos-linux-x64
does not have this problem

[2016-05-26 16:20] joshwiens commented on #95
For reference this doesn't have anything to do with the Seed nor {N} directly.

The package you are missing is part of `libgtk2.0-0` which is included in most Linux distros evidently just not in yours.

IIRC Deepin in a Debian variant ( don't remember off the top of my head who is doing it ) but I do know it's not on the officially supported list for {N} / Android which means you are on your own g

[2016-05-26 16:20] #95 closed, assigned to nobody

[2016-05-26 17:17] friksa opened #96 "i18n support without showing lang-switcher"
Using the web client, language translations work great as long as you show the language selector with <lang-switcher></lang-switcher>

The issue is that if you want to build a preference page that is not always visible, then language translations do not work.

Great project btw!!  Thanks so much!

[2016-05-26 17:22] friksa opened #97 "Adding jquery dependency to distribution"
I followed the steps at https://github.com/mgechev/angular2-seed/wiki/Add-external-scripts-and-styles for jquery. Did a npm --save install jquery and I can see it installed under node_modules.

The issue is that list/dev/node_modules does not have a copy of jquery. I even tried npm run build.dev

What else do I need to configure to get jquery into the distribution?

Thanks for a great project!!

[2016-05-26 17:42] NathanWalker commented on #96
As long as you:

[code]

It will work from anywhere.
Give it a shot and lemme know.

[2016-05-26 17:46] NathanWalker commented on #97
Please provide your setup and how you are adding `jquery`....

[2016-05-26 17:51] friksa commented on #96
That did not work for me, but this did:

[code]

That works!  Thanks so much!

[2016-05-26 17:52] NathanWalker commented on #96
Either will work 👍  For the other to work you would need:

[code]

And of course would need to import `Store` and `MULTILINGUAL_ACTIONS`.

[2016-05-26 17:52] #96 closed, assigned to nobody

[2016-05-26 17:59] friksa commented on #97
Used these instructions:
https://github.com/NathanWalker/angular2-seed-advanced#how-best-to-use-for-your-project

Then
npm --save install jquery

Add jquery dependency
./tools/config/project.config.ts

[code]

./node_modules/jquery exists...

but ./dist/dev/node_modules/jquery does not

npm run build.dev does not copy jquery to dist folder either.  My assumption is that it should be copied to that

[2016-05-26 18:14] friksa commented on #96
If I make this change to your code, it works too:

[code]

Without "private multilang: MultilingualService", it does not work for me.  Thanks again for the quick response!

[2016-05-26 18:17] NathanWalker commented on #96
Yes thanks for pointing that out. It more has to do with fact that at least one `service` or `component` must inject `MultilingualService` somewhere. So `MultilingualService` could be injected in bootstrap or root component because the subscription that gets wired when that service is constructed will only happen if it's injected somewhere 👍  Good to clarify that, thanks again @friksa.

[2016-05-26 18:22] joshwiens commented on #37
@mtabaj I'll be adding the Material2 implementation in the branch below this weekend. Hoping they cut alpha5 on Friday which is what I am waiting on ( it uses rc1 not rc0 )

https://github.com/NathanWalker/angular2-seed-advanced/tree/material2

[2016-05-26 21:20] friksa opened #98 "import 'rxjs/add/operator/max' fails"
I am able to import 'rxjs/add/operator/map', but not 'rxjs/add/operator/max'.

I am using the standard project and importing as follows:

[code]

I see the file in dist/dev/node_modules/rxjs/add/operator/max.js, but get this error on loading the page:

[code]

[2016-05-26 22:14] joshwiens commented on #98
@friksa Not that this will resolve the issue but as an FYI you can do one or the other iirc. What you posted up there is pulling in all of the operators on line one ( a.k.a. kitchen sink ) and then trying to import them individually on lines 3 & 4.

Granular ( Observable class plus desired operators )

[code]

Or (to include all operators):

[code]

My RX experience isn't super strong yet but i'm

[2016-05-26 23:29] NathanWalker commented on #98
Yes that is correct @d3viant0ne  thanks. @friksa please try that ^

[2016-05-26 23:30] NathanWalker commented on #98
@friksa Also merge in latest master from upstream here as I just pushed some updates, some of which may help you here.

[2016-05-26 23:49] NathanWalker commented on #97
@friksa I just downloaded a fresh zip of the seed, did the following:

[code]

Then modified `./tools/config/project.config.ts` to look like this (what you have above):

[code]

Then ran:

[code]

And jquery loaded just fine.
Where are you trying to use `jquery`? It's possible you are trying to use it somewhere before it is loaded.

[2016-05-27 08:03] friksa commented on #97
Totally my fault.  I added my script tag after your script tags, but before

[code]

Sorry for wasting your time on this one.  I am still learning the whole build process and how things fit together.

It may help others like me if your index.html has a comment to make it clear where to add user scripts if needed.  I know most of the time this is not the way to go, but I have some javascript librar

[2016-05-27 08:15] vincentpalita commented on #59
@friksa : did you add the dependency in the project.config.ts file as mentioned?

The dist/dev should never contain any node_modules. SystemJS will do the linkings for you in development mode, then when building it will package the files for you from the node_modules folder.

[2016-05-27 09:13] friksa commented on #98
After updating from the seed project and fixing the breaking changes, the import is working now.  I definitely still need this include or else it fails:

[code]

Thanks!

[2016-05-27 09:14] #98 closed, assigned to nobody

[2016-05-27 13:21] friksa commented on #97
Is there a better way to include non-npm js libs?

I have tried this, but this for project.config.ts, but not sure if I am on the right track to integrate https://github.com/RubaXa/Sortable - it is trying to load it from the wrong folder though:
zone.js?1464355013322:101 GET http://localhost:5555/node_modules/Sortable/package.json 404 (Not Found)

[code]

[2016-05-27 13:34] friksa commented on #59
Was not sure if someone looked at closed issues, so I created a new one for this.  Thanks!

[2016-05-27 17:50] joshwiens commented on #98
@friksa - Sorry I wasn't very clean with the kitchen sink thing.

My point was not that `import {Observable} from 'rxjs/Rx';` will import max & map, only that you can import max and map from the target ( that's the kitchen sink )

[code]

[2016-05-27 18:02] joshwiens commented on #37
FYI - They tagged Alpha5 last night, i'll be moving ahead this weekend as planned.

[2016-05-27 18:21] friksa opened #99 "Disabling browsersync"
We need a way to prevent two browsers from being synchronized while developing.   We are building software that synchronizes youtube videos on playback between different browsers.  The issue is that browsersync gets in the way when we load the video.

We have two browsers pointed to the same url.  One browser loads a youtube video and then our code tells the other browser to load the same video.

[2016-05-27 18:46] joshwiens commented on #99
@friksa - So what exactly are you looking for here? Completely disabling browser-sync or just keeping a single browser in sync? The solution depends entirely on your exact requirement.

[2016-05-27 18:49] friksa commented on #99
Keeping a single browser in sync would be ideal so that development changes are reflected in the browser... maybe using live reload instead of browsersync since it requires a browser plugin??

[2016-05-27 18:53] joshwiens commented on #37
@NathanWalker - One question on this "Material" thing I am on the fence about.
- The pure implementation is to simply add Material2 on the angular side, document & call it a day.
- The complete solution would be to maintain a consistent UI and materialize the {N} app.

I know the right answer there, problem is that I don't like the "right" answer. The pure implementation's inconsistent look and fe

[2016-05-27 19:09] joshwiens commented on #99
@friksa - iirc you can just disable "ghost mode" to stop the multiple browser functionality. For reference, ghost mode can also be partially disabled to limit some but not all of the cross-browser functionality

Something like ...
`ghostMode: false,`

This is off the top of my head, I'll have to play around with it later to give you a real solution and not a maybe.

[2016-05-27 19:42] friksa commented on #99
Thanks so much!! That works perfectly.  Just in case others have the same question, this is how it is set up.

Edit tools/config/project.config.ts and add this to the constructor

[code]

[2016-05-27 19:42] #99 closed, assigned to joshwiens

[2016-05-28 06:12] wangfaxi1985 commented on #95
my deepin version is: 15.1.1 64 bit
when i run sudo apt-get install libgtk2.0-0  done ,
still display :
./angular2-seed-advanced: error while loading shared libraries: libgtk-x11-2.0.so.0: cannot open shared object file: No such file or directory

[2016-05-28 06:36] joshwiens commented on #95
Try the opposite architecture or what you installed i.e. i686 or i386 and then validate the version and see if they changed the binary install path.

Outside of that, lord only knows. Not to sound like a smart ass but as someone who started working on *Nix back when they called Solaris, SunOS their is a reason why technologies have a "supported" list.

Save yourself and **others** the pain of trol

[2016-05-28 17:09] friksa commented on #97
Also, when running the electron version with "npm run start.desktop", jquery does not load even though it loads fine in the web version.

[code]

if I "cd src/client" and do "npm --save install jquery", then things work for the electron version too.

So, I assume that the correct process is to install jquery at both the top level as well as src/client?

I will do w tutorial / writeup on all this o

[2016-05-29 09:18] OscarAgreda opened #100 "Adding AngularFire2 to the advanced Seed"
One of the best things about seed is the fact that is so easy to start with, just a few steps to follow and boom there it is.

I have been evangelizing about angular2 and nativeScript using this seed in some meetups groups; and I have noticed that after the initials steps everything after seems very hard for most people, as expected obviously, because everything is new.  TypeScript, Angular2, nati

[2016-05-29 18:17] amirtoole opened #101 "LiveReload css detected by BrowserSync but not visible on page until manual refresh"
CSS changes are detected (moved to dist folder) and BrowserSync is notifying that *.css has been injected, however no updates appear in page.

I've temporarily had to tweak the setting in https://github.com/NathanWalker/angular2-seed-advanced/blob/8544b8c2e17d2de42fcde47278f18f414af7868d/tools/utils/seed/code_change_tools.ts#L48

Will dig deeper as to the cause unless someone has a simple solution

[2016-05-29 20:28] JanOschii commented on #5
@NathanWalker If I get it right?:

"Download a zip of the seed." includes:
1. unzip the file and optionally rename the folder to something like "myfrontend"
2. Go into the folder with `cd myfrontend`
2. Call `npm install`
3. Call `npm run setup`

Is this correct?

[2016-05-29 20:35] aaweb commented on #101
I'm also seeing this problem. I'm using Sass (scss) files according to the guide in the parent project:

https://github.com/mgechev/angular2-seed/wiki/Add-Sass-support

[2016-05-29 21:14] NathanWalker commented on #5
Yes.

[2016-05-29 21:28] amirtoole commented on #101
Closer to a solution: seems like only main.css is being pushed to browser, regardless of which file was modified. Any css file modification triggers the following in browser sync WS frame

[code]

which triggers fetching main.css (even if a different file was modified):

[code]

@aaweb I too am using sass however this bug is independent of that (testing with latest master of this repo).

[2016-05-29 21:37] aaweb commented on #100
I would be very much in favor of that! :)

I'm currently using AngularFire2 with this seed (waiting for the [update to Firebase SDK 3](https://github.com/angular/angularfire2/issues/180)). Before it can be fully integrated to this project though, I think we'd need NativeScript support. Have a look at the request I filed with them:
https://github.com/angular/angularfire2/issues/110

Meanwhile, I'm

[2016-05-29 21:52] friksa opened #102 "Adding external node fs dependency"
I am trying to use node fs inside the electron app, but not having any success.  I followed these instructions:
https://github.com/mgechev/angular2-seed/wiki/Add-external-dependency

[code]

But when I run the app with "npm run start.livesync.desktop", I get the following error in the console.

[code]

I am trying to wrap my head around the whole build system so that I can document it for this pro

[2016-05-29 21:56] JanOschii commented on #93
Sorry for coming back on this.
I found this file:  " tools/install.js " in the correct folder and its part of .gitignore like you described above.

But if i try:

[code]

I get this message:

[code]

If I use `npm run merge` (which as I understand is the same like git fetch/merge) I get this output in `npm-debug.log`

[code]

[2016-05-29 23:09] JanOschii commented on #93
That seems to solve this problem:

[code]

[2016-05-29 23:35] NathanWalker commented on #102
@friksa you can chat with me here (@walkerrunpdx): https://t.co/uExEluDrmO

Developing for multiple platforms from the same codebase requires understanding of a number of things, which is why this seed is `advanced`.

You cannot use the node `fs` module on the web therefore you would not configure it with systemjs.
Furthermore it can only be accessed in the `main.desktop.ts` file which electron us

[2016-05-29 23:35] #102 closed, assigned to nobody

[2016-05-29 23:48] NathanWalker commented on #101
Seems like this was reported in the parent seed...
https://github.com/mgechev/angular2-seed/issues/925
https://github.com/mgechev/angular2-seed/issues/804

[2016-05-29 23:51] NathanWalker commented on #100
@OscarAgreda I love your ideas and enthusiasm :)
Because having a specific backend integration on master branch would limit some other uses which may use a different backend, I wouldn't be interested in integrating `AngularFire2` on master, however on a branch would be awesome.

@aaweb NativeScript integration works and if you'd be interested in helping with a PR to a branch here, please let me kn

[2016-05-29 23:58] NathanWalker commented on #93
Thanks for reporting a proper fix for anyone else that may run into this @JanOschii  👍

[2016-05-30 13:47] joeblew99 opened #103 "npm run start.ios fails with tns: command not found error"
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

**Steps to reproduce and a minimal demo of the problem**

On this Env:
Mac OSX
node -v v6.0.0
npm -v 3.8.6

Clean install from nothing
npm install -g nativescript
npm install -g typescript
# install the project's dependencies

npm install
# watches your files and uses li

[2016-05-30 13:48] joeblew99 commented on #103
It might be related to this:
https://github.com/NativeScript/nativescript-cli/issues/1191

[2016-05-30 13:54] lilkren opened #104 "Nativescript App Fails to Load On Simulator"
Ooops ... RTFM.

[2016-05-30 14:22] #104 closed, assigned to nobody

[2016-05-30 14:22] lilkren commented on #104
RTFM

[2016-05-30 20:40] #97 closed, assigned to nobody

[2016-05-31 15:58] JanOschii opened #105 "run-script for the update of the webdriver-manager didn't work with windows 7"
**Steps to reproduce and a minimal demo of the problem**
1) Use a computer with windows 7 ( ;) )
2) Enter: `npm run webdriver-update`

**Current behavior**

[code]

npm-debug.log

[code]

**Workaround**

Just type: `node_modules/protractor/bin/webdriver-manager update` instead of `npm run webdriver-update` which at the end should do the same.

[2016-05-31 19:26] fourctv opened #107 "{N} build creates .js & .js.map files inside src/client"
I know that the `nativescript/src/client` folder is a symlink into `src/client`, but that causes a side effect of creating `.js` & `.js.map` files inside my development tree whenever I build/start {N}.

Those files are supposedly created inside `nativescript` folder, but the symlink causes that side effect.

Is there a workaround to avoid that? or maybe a `cleanup` script that would get rid of tho

[2016-05-31 19:40] fourctv commented on #107
for now, I've added a new file `/tools/tasks/project/clean.all.src.js.ts`:

[code]

[2016-05-31 21:08] amirtoole commented on #107
You could achieve this with the following command (make sure you execute it in the appropriate path!):

[code]

It will delete all .js and .js.\* files

[2016-06-01 03:02] NathanWalker commented on #107
@fourctv @hellofornow I like both of your options! If either wants to submit a PR that would add either strategy as an `npm` script in `package.json` would be great.

I always ignore `*.js` and `*.map` files throughout VS Code so they are never in my way but I'm sure if it bothers you guys, it certainly will to someone else 👍

[2016-06-01 03:05] NathanWalker commented on #105
Thanks for the report @JanOschii, interesting since that's the command that gets run when running `npm run webdriver-update`. Not sure how to fix ultimately for Windows here. I'll leave open for others that may know and a PR here would be appreciated if it solves for both Mac and Windows. Currently works fine on Mac.

[2016-06-01 08:24] aaweb commented on #100
@NathanWalker: By "NativeScript integration works", you mean someone has gotten AF2 working with NativeScript? If so, is there an example somewhere you could point me to? I got AF2 working on the web side of things with the seed, but still need to figure out the NativeScript end.

[2016-06-01 09:12] suchafreak opened #108 "Setup according to instructions fails at Step 5 on Windows 7 (64-Bit)"
How to reproduce:
Use Windows 7
Follow Setup-Steps 1-4 to the letter
Try Step 5: `npm run merge`.
This fails giving the following output:

[code]

This is the log:

[code]

Regards
-sascha

[2016-06-01 20:51] NathanWalker commented on #100
@aaweb Working implementation here:
https://github.com/NativeScript/sample-Groceries/tree/angular-firebase
This commit has the details:
https://github.com/NativeScript/sample-Groceries/commit/2e441059038b3d74806665d22f2110d09f1fe010
Then for Android, this can be followed:
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/39

[2016-06-02 17:14] NathanWalker commented on #94
For NativeScript use the new native i18n plugin: https://github.com/rborn/nativescript-i18n

[2016-06-02 17:34] ocombe commented on #94
Well there is no documentation for the core i18n support yet, so I have no idea how it works and I don't really want to dig into the source code :P

[2016-06-02 17:41] NathanWalker commented on #94
Agreed @ocombe I was curious if you knew something that I didn't :-0 I went searching for docs last week and wasn't sure if my googling skills had weakened or if I was truly searching for a unicorn.

[2016-06-02 17:54] timwright35 commented on #108
Fails on Linux as well on that step

[2016-06-02 18:15] NathanWalker commented on #108
Setup instructions fixed and updated on master now.
https://github.com/NathanWalker/angular2-seed-advanced/commit/b573ab415150138691536323d322c2935916821c

Please see correct setup instructions now: https://github.com/NathanWalker/angular2-seed-advanced#setup-1

[2016-06-02 18:15] #108 closed, assigned to nobody

[2016-06-02 19:01] NathanJGaul opened #109 "npm run start.desktop fails on linux"
**Steps to reproduce and a minimal demo of the problem**

`npm run start.desktop`

**Current behavior**

[code]

Thrown in electron developer console.
and

[code]

Thrown in terminal.

**Other information**
The example app fails to load, only showing "Loading..." in the electron window.

[2016-06-02 19:47] amirtoole commented on #109
Can confirm same issue with OS X.

[2016-06-02 20:23] mpetkov opened #110 "Discussion: Why use ngrx/store instead of Redux?"
Redux is extremely popular and currently has over 19,000 stars on github.  So why did you guys decide to use the less popular ngrx/store instead of Redux for state management?

[2016-06-02 20:33] NathanWalker commented on #110
Redux is really just a philosophy of state management which is behind `ngrx/store` and provides a nice api when used in conjunction with Angular. You can use either, the principles are the same.

[2016-06-02 20:33] #110 closed, assigned to nobody

[2016-06-02 20:58] NathanWalker commented on #109
It appears to be related to upstream changes recently merged in `es6-shim` to `core-js`.
Not sure of fix just yet. If anyone knows, please help 👍

[2016-06-02 21:04] NathanWalker commented on #109
Fix coming...

[2016-06-02 21:06] #109 closed, assigned to NathanWalker

[2016-06-02 21:06] NathanWalker commented on #109
Master has your fix now, thank you for the report!

[2016-06-02 21:39] NathanWalker commented on #110
I could open this up for discussion here but it's really best left to discuss on `ngrx/store` repo where discussion has already taken place. As mentioned there, some of the `Redux` (TM) toolilng is tied to `React` which is another reason `ngrx/store` is better suited here.

[2016-06-02 22:28] NathanJGaul commented on #109
Wow that was fast, thank you!

[2016-06-03 08:42] arnaudvalle opened #111 "styleUrls and nativescript"
I just came across a small issue while trying to style some components using Nativescript. It seems like the DecoratorUtils is getting rid of the styleUrls metadata for native:

[code]

which means you can't add custom component-specific styles out of the box?

While I understand why you're doing this (because of the limited css support), I think it's maybe a bit extreme to remove it all? That bas

[2016-06-04 06:24] NathanJGaul commented on #102
Was there any may around this just for desktop builds? Trying to use `child_process` myself.

[2016-06-04 11:43] vincentpalita opened #112 "Production build is failing."
**Steps to reproduce and a minimal demo of the problem**
npm run serve.prod

**Current behavior**
Fails at finding @angular/router-deprecated. See error log below:

[code]

It makes the build fail.

**Expected/desired behavior**
It should build normally.

**Other information**
I added below code in the seed-advanced.config.ts file, and the build ran successfully:

[code]

I guess since the way of

[2016-06-04 20:02] NathanJGaul opened #113 "fs, child_process, ect. on desktop builds"
In reply to issue #102 was there anyway to get around to using desktop specific node libraries on desktop builds, such as fs or child_process? Thanks for your help!

[2016-06-04 20:36] friksa commented on #102
try this:

[code]

Now edit tools/config/project.config.ts and add this to the constructor:

[code]

[2016-06-04 20:37] friksa commented on #113
try this:

[code]

Now edit tools/config/project.config.ts and add this to the constructor:

[code]

start electron client

[2016-06-04 20:50] NathanJGaul commented on #113
Thanks for the help @friksa! Been trying to figure this out all week.

[2016-06-04 20:50] #113 closed, assigned to nobody

[2016-06-04 20:53] NathanWalker commented on #113
Let's add this to a Wiki page @friksa, thank you for this.
If you wanted to help create a markdown page, I can add it in.

[2016-06-04 21:29] friksa commented on #113
@NathanWalker have you made changes to the MarkDown file I sent you?  if not, I can add this to it.  Otherwise, send me the latest version and I will update it.  You're welcome @Infining

[2016-06-05 04:00] NathanJGaul commented on #113
Found an easy way to load core Node modules without npm installing them directly to `src/client` via [stackoverflow](http://stackoverflow.com/questions/36546860/require-nodejs-child-process-with-typescript-systemjs-and-electron). For the `fs` module it works fine as you can install it with npm as explained above, but for some reason `child_process` was not in the npm registry.

In `index.html` add

[2016-06-05 09:55] friksa commented on #113
Awesome!  Thanks for sharing!

[2016-06-05 10:14] friksa commented on #113
I have not tried it yet, but I bet this works in tools/config/project.config.ts (without the npm install)

[code]

I think it is a good idea _not_ to change index.html if you can.

[2016-06-06 05:51] NathanWalker commented on #111
We could bring this back. The biggest issue is that when unsupported css is used, it can break the {N} app entirely. For instance `:host` is not supported by NativeScript currently.

Thoughts are welcome if we should just allow this to be left up to the developer to figure out?
Basically it would boil down to developers needing to put only `web` only css properties in their global css file and kee

[2016-06-06 11:46] gomesNazareth opened #115 "BaseComponent Template rendering issue when using an observer service"
I noticed that when I use the baseComponent. The template renders before the observer service completes and I cannot display the data in the template.But how ever when i changed the BaseComponent to Component every thing works fine.

[2016-06-06 17:11] NathanWalker commented on #76
Electron import? Is it incorrect on master currently? If you find it to be incorrect here, do you mind submitting a PR with your fix if so?

[2016-06-06 17:58] friksa opened #116 "Use ChangeDetectionStrategy.Default instead"
app/frameworks/core.framework/decorators/util.ts sets the default change detection strategy to:
**ChangeDetectionStrategy.OnPush**

Specifying it as **ChangeDetectionStrategy.Default** in each components seems to work... however when integrating 3rd party components, I have seen issues where the UI is not always updating as expected.

When changing util.ts to use **ChangeDetectionStrategy.Default*

[2016-06-06 18:35] NathanWalker commented on #116
Definitely curious to hear other thoughts here. Indeed, defaulting to `OnPush` does require some understanding of 1 way data flows and immutability so some service architecture won't work well with `OnPush`, but this seed is `advanced` for a reason so assumes some understanding of certain concepts.

I'll leave this open for discussion. I'm open to defaulting to `Default` if others find that better

[2016-06-06 19:36] friksa commented on #116
Sounds good.

Advanced people will be smart enough to change it to onPush where new users will more easily ease into this project.  Advanced does not have to mean complex :)

I wasted a few days on this issue.  Even though I had a good grasp of the Angular2 concepts, this configuration option made it behave different than most of the documentation and examples out there.  Now that I know it, it is

[2016-06-07 04:53] NathanJGaul commented on #116
I have also been dealing with this for the past few days and it has helped me better understand Angular 2 while adapting to the seed's default. I do agree with @friksa though, configuration in project.config.ts allows for easy control over the project and it would be nice to include the desired default change detection strategy in there.

[2016-06-07 08:22] vivek-chowdhury opened #117 "Getting error while compiling desktop build"
I have tried to download seed and followed all the steps described in the link. But I am getting error while compiling desktop build however web build is working fine.

Please find the below mentioned error I am getting while executing 'npm run build.desktop'
npm ERR! node v6.2.1
npm ERR! npm  v3.8.5
npm ERR! code ELIFECYCLE
npm ERR! angular2-seed-advanced@0.0.0 build.desktop.windows: `rimraf desk

[2016-06-07 09:56] vivek-chowdhury opened #118 "Windows production is not working"
Hi,

I am getting error while executing 'npm run build.desktop.windows' command. Please find the below terminal logs:

E:\Electron-Seed>npm run build.desktop.windows

[15:20:04] Requiring external module ts-node/register
(node:18008) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.
[15:20:23] Loading tasks

[2016-06-07 10:24] friksa commented on #76
I need Electron upgraded as I need features in Chrome 50.  When I update the Electron version number to 1.2.1, it fails to start up with:

[code]

[2016-06-07 10:37] friksa commented on #76
The fix turned out to be super easy :)

One of these days, I will figure out how to do a pull request... until then, here is the solution to upgrade to Electron 1.2.1.

In main.desktop.ts, change this:

[code]

to

[code]

[2016-06-07 20:47] #76 closed, assigned to nobody

[2016-06-07 20:48] NathanWalker commented on #118
I just pushed up several fixes, one of which may fix this for you. Turned out path was wrong to icon file for electron package release. Pull latest and if it fixes for you, please close this issue.

[2016-06-07 20:48] NathanWalker commented on #76
Thank you @friksa updated to 1.2.1 on master now 👍

[2016-06-07 20:49] NathanWalker commented on #117
Just pushed up fix for this... download zip of latest and try again, or try merging in latest upstream.
If it still does not solve for you, please reopen this issue.

[2016-06-07 20:49] #117 closed, assigned to nobody

[2016-06-07 20:50] NathanWalker commented on #115
Solve on Slack...

[2016-06-07 20:50] #115 closed, assigned to nobody

[2016-06-07 20:50] NathanWalker commented on #112
Fixed on master now 👍

[2016-06-07 20:50] #112 closed, assigned to nobody

[2016-06-07 20:52] NathanWalker commented on #103
Sounds like this is unrelated to the seed and more related to your environment, I'm going to close this, but if you find a solution to your environment, you may post back here.

[2016-06-07 20:52] #103 closed, assigned to nobody

[2016-06-07 21:33] NathanWalker opened #119 "HEADS UP: Refactor coming...Prepare."
If you are using this seed, please read carefully:
There is a very nice refactor coming down the pipeline soon from the parent seed:
https://github.com/mgechev/angular2-seed/pull/959

It should hopefully be the last fairly major refactor to land, but you should prepare your projects if you intend to merge in latest upstream when it lands.

Preparation checklist:
- make sure your custom code is mos

[2016-06-07 21:47] vincentpalita commented on #119
Thanks for the heads up @nathanwalker!

[2016-06-07 21:49] vincentpalita commented on #112
@nathanwalker, again thank you!
Will check that soon.
Cheers

[2016-06-08 00:01] joshwiens commented on #119
I really wish I could get Minko to run a "develop" like branch to merge this stuff into first instead of just hammering everything into master :(

[2016-06-08 04:54] vivek-chowdhury commented on #118
Thank you Nathan it is working now.

[2016-06-08 05:37] joeblew99 commented on #103
Is there a docker image ?

[2016-06-08 08:16] vivek-chowdhury commented on #117
Hi Nathan,

Sorry to disturb you once again but it is strange that I am getting below mentioned error while executing 'npm run build.desktop.windows'. I have downloaded updated zip and tried to run build command. It works for the first time but after subsequent attempt I am getting same error.

Request you to please guide me on this.

E:\Electron-Seed>npm run build.desktop.windows

[13:40:16] Requ

[2016-06-08 08:19] vivek-chowdhury commented on #118
Hi Nathan,

Sorry to disturb you once again but it is strange that I am getting below mentioned error while executing 'npm run build.desktop.windows'. I have downloaded updated zip and tried to run build command. It works for the first time but after subsequent attempt I am getting same error.

Request you to please guide me on this.

E:\Electron-Seed>npm run build.desktop.windows

[13:40:16] Requ

[2016-06-08 08:26] vivek-chowdhury commented on #118
Please find the log recorded during build packaging

0 info it worked if it ends with ok
1 verbose cli [ 'C:\Program Files\nodejs\node.exe',
1 verbose cli   'C:\Users\vivek2225\AppData\Roaming\npm\node_modules\npm\bin\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build.desktop.windows' ]
2 info using npm@3.8.5
3 info using node@v6.2.1
4 verbose run-script [ 'prebuild.desktop.windows',
4 ver

[2016-06-08 12:18] vivek-chowdhury opened #120 "Getting exception while loading main.css"
Hi Nathan,

I am getting exception in console window while running debug build in windows platform please find the below error:

file:///E:/Electron-Seed/dist/dev/dist/dev/css/main.css?1465388122660
Failed to load resource: net::ERR_FILE_NOT_FOUND
Angular 2 is running in the development mode. Call enableProdMode() to enable the production mode.
Uncaught Error: connect ECONNREFUSED 127.0.0.1:30080

[2016-06-08 16:15] joshwiens commented on #120
**To your problem**
You are duplicating `DEV_DEST` somewhere in your config.

If you modified the `seed.config.ts` or `seed-advanced.config.ts` don't. Use the `project.config.ts` and override specific settings.

If you made your changes in `project.config.ts` than that is where you want to start looking and through to the `build.html_css.ts` where main.css is injected.

The seed tools are debuggab

[2016-06-08 16:15] #120 closed, assigned to nobody

[2016-06-08 16:17] joshwiens commented on #101
@hellofornow @NathanWalker - I'll take this one, realistic E.T.A will be Friday afternoon.

[2016-06-08 16:23] joshwiens commented on #53
@NathanWalker - FYI Blake officially has ownership of all things TypeDoc. It's been pulled ( prematurely imo ) so if we want this working, it's going to have to be a deviation from the parent seed.

Blake has published the TS 1.8 updates to make TypeDoc current again and there is no reason to question his ability to maintain an OSS project.

Assuming you want to keep TypeDoc, I can fix the docs st

[2016-06-08 16:41] jakeNiemiec commented on #53
Thanks!

[2016-06-09 03:21] JakePartusch commented on #119
@NathanWalker, #61 will be on hold until these changes come through :/

[2016-06-09 05:27] vivek-chowdhury opened #121 "Getting exception while loading main.css"
Hi,

This issue is continuation of my previous bug (i.e.  Getting exception while loading main.css #120). As suggested by Joshua Wiens I have cloned fresh copy of angular2-seed-advanced and commented below mentioned piece of code in main.desktop.ts to activate developer tool in exe.

menu = Menu.buildFromTemplate(template);
mainWindow.setMenu(menu);

When I ran angular2-seed-advanced debug build u

[2016-06-09 13:18] friksa opened #122 "assets/js files not injected into web client production build"
The legacy JS files added to src/client/assets/js are not injected into the production web client when using:
npm run build.prod

tools/config/project.config.ts constructor

[code]

Works fine in development web client and desktop client (both production and development versions).  However, when the js is minified and combined, these JS files are not included in the list.

I looked at tools/tasks/

[2016-06-09 13:38] friksa opened #123 "Need a way to detect a development build vs release build"
You can use CoreConfigService.IS_WEB(), etc to detect the platform, but there is no way to detect (as far as I can tell) whether you are running a development or release build.  This is important since different URLs are used for accessing resources during development vs released version of the application.

[2016-06-09 14:17] friksa opened #124 "Inconsistent electron version numbers"
When you install a certain version of electron in package.json, it is inconsistent with these 3 files:
- tools/tasks/project/desktop.package/linux.ts
- tools/tasks/project/desktop.package/mac.ts
- tools/tasks/project/desktop.package/windows.ts

Not sure if there is a better way to keep things in sync, but at least it should be documented that the version number should be updated in multiple places

[2016-06-09 15:25] JonnyBGod commented on #116
I like the documentation way.

Default to good practices and explain how to solve common problems, this way we help less experienced developers to learn and try to keep up, if they don't have the time or need we document a simple way to turn it off.

[2016-06-09 17:02] friksa commented on #123
You can use "process.env.NODE_ENV === 'development';" to do this detection on the desktop client, but not sure how to do it with the web client.

[2016-06-09 18:13] NathanWalker commented on #123
You can see an example of how to do this in your TS files here:
https://github.com/NathanWalker/angular2-seed-advanced/blob/master/src/client/main.web.ts#L22

[2016-06-09 18:13] #123 closed, assigned to nobody

[2016-06-09 18:22] friksa commented on #123
perfect - thanks

[2016-06-10 22:48] amirtoole opened #126 "build.prod fails on Windows 8"
Our internal CI is on Windows 8, and is unable to execute the task build.bundles.app due to trying to look for main.web.ts in in "node_modules".

[code]

Can confirm this is **not** happening on Windows 10; not sure if this will ever affect anyone else.

Ran the task with latest master to confirm it wasn't anything we've modified in our project.

[2016-06-10 23:32] OscarAgreda opened #127 "What about printing or reporting ?"
Most,  if not all Enterprise Application will eventually require some type of **report** or **pdf**.
There are many "server side" packages out there to do that as well as lots and lots of commercial (paid) components for that reason.

Somehow that “server dependency"  reporting feels ancient and old-fashioned, as if does not belong to the new “front end power” of angular.

2 weeks ago I i was able

[2016-06-11 06:33] NathanWalker commented on #127
Definitely on a branch @OscarAgreda, very nice. If you have the project up on GitHub anywhere or can share with me, I can help extrapolate the details onto a branch here.

[2016-06-11 07:35] NathanWalker commented on #107
@fourctv provided a task for this, on master now with this:
https://github.com/NathanWalker/angular2-seed-advanced/pull/125

[2016-06-11 07:35] #107 closed, assigned to nobody

[2016-06-11 07:57] #111 closed, assigned to nobody

[2016-06-11 07:58] NathanWalker commented on #111
@arnaudvalle Turns out latest NativeScript does not have issue with the styles. The `styleUrls` are no longer stripped on latest master and you can use them now, thanks for bringing this up 👍

[2016-06-11 15:04] amirtoole commented on #126
I should have looked in parent seed project.
They're aware of it:
https://github.com/mgechev/angular2-seed/issues/975

[2016-06-13 00:18] OscarAgreda commented on #127
Sounds like a plan, I'll do that .

[2016-06-13 07:02] arnaudvalle commented on #111
nice one @NathanWalker - thanks for looking into this

[2016-06-14 09:08] nxpatterns opened #128 "generating a new route with all its parts (default css, e2e-spec.ts, html-tpl,spec.ts,tns, ts,..)"
Is that possible with "one-click" within an ide or via a generator? How can I overcome that simplest?

thank you

[2016-06-15 03:13] zeeshanjan82 commented on #126
I think this issue is fixed in parent seed project and not in this advanced seed, how can we replicate the fix here.

[2016-06-15 03:17] zeeshanjan82 commented on #112
@NathanWalker  How can I apply the fix on this advanced seed as I understand it has been fixed in master but after I download this advanced seed I still get this error: https://github.com/NathanWalker/angular2-seed-advanced/issues/126

[2016-06-15 06:23] jwhits opened #129 "Getting started question"
First of let me say this project is awesome! exactly what I have been looking for.

I have downloaded, setup and got the sample app running as per the instructions. I am just a bit lost as to where I start adding my app code so it has minimal impact on future merging of your upstream seed code.

In this instructions you say.

So I should create my app under frameworks in a folder called awesomeapp

[2016-06-15 06:35] NathanWalker commented on #126
@hellofornow and @zeeshanjan82 latest upstream parent has been merged in. Please try pulling master and try this. If it fixes, please close this issue 👍

[2016-06-15 06:40] NathanWalker commented on #129
Thank you.

This is a general recommendation and I would do this, however it's totally up to you on your components leading to next question...

Yes on `components` folder, you can remove that and just build your own set. Removing `app.framework` is up to you as well. If you don't need it, remove it.

It would only return if changes to that folder had been made (upstream) subsequent to the time yo

[2016-06-15 06:49] jwhits commented on #129
Thanks for clearing things up so quickly!

[2016-06-15 06:49] #129 closed, assigned to nobody

[2016-06-15 14:53] amirtoole commented on #126
Can confirm it is fixed. Thanks a lot!

[2016-06-15 14:53] #126 closed, assigned to nobody

[2016-06-16 13:46] rodolfocop opened #130 "Upgrade Angular2-seed to rc.2 and new Routes"
No description provided.

[2016-06-16 15:09] joshwiens commented on #130
1.) These changes currently come from the parent seed.

2.) Last time I looked, the new router & {N} don't play well together. The new router also isn't in a usable state so i'm doubting this will be happening anytime in the near future.

//cc @NathanWalker

[2016-06-16 15:11] joshwiens commented on #128
Fastest way to do what you want to do would be with the angular-cli once it's in a usable state.
Nobody is creating generators for the above because it would be replaced by the CLI at some point.

This is what you are going to want at some point in the future - https://github.com/angular/angular-cli

[2016-06-16 15:11] #128 closed, assigned to nobody

[2016-06-16 15:32] rodolfocop commented on #130
Hi @d3viant0ne
I'll be waiting for the parent seed updating, so you can upgrade my design also.
On the routes i'm really curious to see how this change may affect the project in which I participate.

Thanks man!

[2016-06-16 15:47] joshwiens commented on #130
The parent seed is in the middle of a major refactoring project mgechev/angular2-seed#959 I wouldn't expect rc2 to land until after that hits master though you are welcome to ask there.

As far as the new router goes, outside of the fact it doesn't work with {N} right now ( NativeScript folks are waiting on breaking changes planned for the new router ) and a bit of personal experience, the new rou

[2016-06-16 18:31] spicemix commented on #129
You might sprinkle comments through the code like

`// TODO ng2seed Add your additional Providers here...`

Which would
1. give us IDE TODO highlighting to quickly see a checklist
2. let us filter it from our own TODOs with `ng2seed`
3. guide us in context what you intend us to do with the seed code
4. let us follow where you moved things in new pulls based on the help text of the comment
5. show

[2016-06-16 20:36] jovermier opened #131 "Creating new services without using ngrx store framework doesn't keep DOM updated"
This simple polling service (used for IoT sensors) will not work with this project. It will receive the XHR but the DOM will not update.

Remove the ".txt" file extension from the files attached:
[blank.component.html.txt](https://github.com/NathanWalker/angular2-seed-advanced/files/319277/blank.component.html.txt)
[blank.component.ts.txt](https://github.com/NathanWalker/angular2-seed-advanced/fil

[2016-06-16 22:08] NathanWalker commented on #131
@jovermier instead do this:

blank.component.ts:
[code]

blank.component.html:
[code]

Please close if solves for you.

[2016-06-16 22:11] NathanWalker commented on #131
Do this instead:

[code]

blank.component.html:

[code]

Please close if fixes for you.

[2016-06-17 18:54] jovermier commented on #131
That works under some circumstances. If the blank component is using the top level app routing it works. If there is nested routing then it requires you to navigate away then return to the component for it to start displaying the values. Example:

Routing:

--Home (url /)
--Blank (url /blank) <- WORKS, EVEN WHEN RELOADING THE PAGE
--Sensors (url /sensors/)
-----Blank (url /sensors/blank) <- DOES N

[2016-06-18 07:35] NathanWalker commented on #131
This could be related to deprecated router. The seed will be updated to v3 router in next couple weeks and it's possible that may fix the issue you describe above. I'll keep this open until that time.

[2016-06-18 20:20] NathanWalker commented on #119
The refactor is not going to happen due to complex issues with SystemJS, so disregard this 👍
Multi-platforms are supported by this seed now and more can be integrated using similar setups as was done with {N} and electron integration already.

@JakePartusch Feel free to continue with angular-universal. This could be housed in a `server` folder in the root similar to how `nativescript` folder exist

[2016-06-18 20:20] #119 closed, assigned to NathanWalker

[2016-06-19 17:25] igonzalezespi commented on #121
Getting same error in Windows 7.
I think the problem is the function `transformPath` in the file `tools/tasks/seed/build.index.dev.ts`.
It is searching for "dist/dev" while in Windows is "dist\dev", so it doesn't get removed.

I did this workaround:

[code]

Is this an error?

[2016-06-21 09:05] haukka opened #135 "Adding depency but remove it from system-builder"

[2016-06-22 11:39] igonzalezespi opened #136 "npm dependencies get wrong reference in Electron dev build"
**Operating system**: Linux xxx 4.2.0-38-generic #45~14.04.1-Ubuntu SMP Thu Jun 9 09:27:51 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**Node**: 6.2.1 (also 5.9.1)
**npm**: 3.9.3 /

Maybe I am missing some configuration.

**Steps to reproduce and a minimal demo of the problem**
- Clone angular2-seed-advanced repository
- `npm i -S jquery`
- `npm i -S materialize-css`
- `npm i -S materialize`
- `npm i

[2016-06-22 12:57] igonzalezespi commented on #136
Sorry, I got the answer, need to put this two lines in `project.config.ts`:

[code]

Is there any guide for this things? I just have been looking into the code, haven't seen any info or guide.

[2016-06-22 23:20] NathanWalker commented on #136
Most of all dependency and external integrations should refer to parent seed wiki:
https://github.com/mgechev/angular2-seed/wiki/Add-external-dependency

Glad you got it working!

[2016-06-22 23:20] #136 closed, assigned to nobody

[2016-06-24 03:50] jvitor83 opened #137 "Generator for this Seed-Advanced (Proposal)"
What about a (CLI) yeoman generator based on this seed-advanced?

I think about a proposal with something like:

1. Input your project's name
2. Input the necessary tecnology (web and/or electron and/or nativescript/reactnative and/or ionic2/cordova and/or angular universal...)
3. Some libs included (bootstrap or material or jquery)
4. Configurations (sass or less)
5. Authentication (oauth2 or ope

[2016-06-25 07:01] zeeshanjan82 opened #138 "Using ngrx/router"
Any reasons the seed uses angular2 router instead of ngrx/router even though it uses ngrx/store. I was trying to replace angular2 router with ngrx/router but got some issue with missing provider for Analytics Service. Would you recommend using angular2 router instead of ngrx/router for any new project which is build on top of this seed. Also ngrx/router provides some cool features like guards is t

[2016-06-25 13:58] andresguibarra opened #139 "Question about "Best to use""
Hi!

First, sorry if it's not the place to post a question but I didn't find the correct one.

In the section "How best to use for your project" says:
1. Create a new framework for your application in src/client/app/frameworks to build your codebase out. Say your app is called AwesomeApp, then create awesomeapp.framework and start building out all your components and services in there. Create othe

[2016-06-25 19:02] joshwiens commented on #137
I would think with the CLI coming, the best plan here is to wait which is what was decided in the parent seed in regards to the same topic.

Also, unless someone picks up the refactoring, it's not going to happen. Nathan & I spent a weekend on the decoupling and decided the added complexity ( and systemjs annoyances ) to make it happen simply wasn't worth the marginal benefits of decoupling the ap

[2016-06-26 17:57] spicemix commented on #138
It's still up in the air whether NG2/Router 3.0 is going to fully replace ngrx/router...

ngrx/router#147

[2016-06-26 23:34] OscarAgreda opened #142 "Does the UI need to be in Html or NativeScript syntax"
I spent the weekend learning some more angular 2, typescript and NativeScript, I especially liked this course:
[https://app.pluralsight.com/library/courses/nativescript-cross-platform-native-mobile-apps/table-of-contents](https://app.pluralsight.com/library/courses/nativescript-cross-platform-native-mobile-apps/table-of-contents)
after watching the course as an ex-Silverlight developer, i quickly

[2016-06-27 00:05] NathanWalker commented on #121
@ivannugo if the above works for you, mind submitting a PR to fix for Windows users?

[2016-06-27 00:06] NathanWalker commented on #118
@vivek-chowdhury is this still relevant?

[2016-06-27 00:17] #116 closed, assigned to nobody

[2016-06-27 00:17] NathanWalker commented on #116
I have added a special note in the README about this and provided instructions on how to turn it off 👍

[2016-06-27 00:17] NathanWalker commented on #116
https://github.com/NathanWalker/angular2-seed-advanced#change-detection-onpush-note

[2016-06-27 00:19] NathanWalker commented on #127
I'm going to close this @OscarAgreda but feel free to submit a PR to this branch: https://github.com/NathanWalker/angular2-seed-advanced/tree/pdf-reports if you'd like 👍

[2016-06-27 00:19] #127 closed, assigned to nobody

[2016-06-27 00:21] NathanWalker commented on #130
Master has rc.3 and new router `3.0.0-alpha.7` now 👍

[2016-06-27 00:21] #130 closed, assigned to nobody

[2016-06-27 00:22] NathanWalker commented on #131
@jovermier latest master uses the new router now and I would be curious to hear if you could update (merge latest upstream in) and try your issue again. Let me know if it clears for you and please close this issue if so.

[2016-06-27 00:24] NathanWalker commented on #135
Hi @haukka if you could provide a little more details here would help. Which lib are you trying to integrate? You can modify the systemjs-builder in your own `project.config.ts` file and use this as a guide on how to do that for various libs: https://github.com/NathanWalker/angular2-seed-advanced/blob/master/tools/config/seed-advanced.config.ts#L63-L69

Please close if this is no longer an issue f

[2016-06-27 00:27] NathanWalker commented on #137
I'm going to loop in Victor Sosa @peoplewareDo who just created yeoman generators for some of my other seed projects. I would be curious to hear your thoughts here Victor?

@d3viant0ne  Regardless of where the CLI is going, it wouldn't provide specifics for this seed so this may still be valuable to explore.

[2016-06-27 00:41] NathanWalker commented on #138
Thanks @zeeshanjan82 and @spicemix indeed we will stick with ng2 router here since it is shaping up and will eventually replace ngrx/router.

I'm having a good experience so far with ng2 new v3 router that's in the seed.

[2016-06-27 00:41] #138 closed, assigned to nobody

[2016-06-27 00:48] NathanWalker commented on #139
Hi @yanqui92 fair question. The `How best to use` guideline is really just a suggested guideline so you are free to do whatever suits your project, but if using the suggestion for instance you could have:

`src/client/app/frameworks/awesomeapp.framework/index.ts` which would export all your components and services like so:

[code]

Then your other files can reference that. So for example, your `sr

[2016-06-27 00:51] NathanWalker commented on #142
@OscarAgreda Thanks again.

I'm not sure I follow what you mean by: " i think we should have 3 in html and 3 for native script"?

Right now, there's an html file for each component (ie, here: https://github.com/NathanWalker/angular2-seed-advanced/blob/master/src/client/app/components/app/app.component.html)
And a `.tns.html` for each component (ie here: https://github.com/NathanWalker/angular2-see

[2016-06-27 04:28] OscarAgreda commented on #142
right, yes.  we have that .   sorry i wasn't clear on my question  :(

1- you have something there similar to NativeScript magic that does the Template Switching (templateUrl and styleUrls)

2-does the seed also has something that helps with the routing  switching , i see the files, could you explain how that is accomplished . because as one app becomes big , is very important to have a clear path

[2016-06-27 07:36] joshwiens commented on #137
@nathanwalker I was thinking about the wrong feature, It was the offline comp. that was "blocking" the generator when I brought it up in the parent seed a few months back. I'll see if I can dig up the original issue.

[2016-06-27 07:37] joshwiens commented on #137
The original issue was created after looking at AngularClass's es6 starter that has a slick generator

[2016-06-27 08:17] #121 closed, assigned to nobody

[2016-06-27 09:18] haukka commented on #135
Hi @NathanWalker,
I was trying to add wijmo(http://wijmo.com/) to the angular-seed-advanced just for trying, understand the core system of your seed and have a basic boilerplate but also to learn angular2 by practicing.
You can find the test I made here : https://github.com/haukka/angular2_seed_advanced_wijmo_ng2-admin_bootstrap  (I let the repertory node_modules because I put a wijmo repertory in

[2016-06-27 12:39] rodolfocop commented on #130
Thanks, I will update now!

[2016-06-28 13:37] aaweb commented on #100
@NathanWalker I saw your wiki page about integrating firebase. Very helpful and pretty much the way I've done it previously. Now that angularfire2 is on SDK3, I hope they'll also think about NativeScript support.

[2016-06-29 06:11] Bohmaster opened #144 "When adding component manually and making changes, the component breaks until I call npm start again."
First of all, thank you very much for building this repository. It's great to get up running quickly.

I wanted to add a new component (say Adverts) and I've copied the same structure of the others components(app, home, about) but only with the ts, html, tns.html and css files

When I run "npm start" it's all working just fine. Until I make a change inside the adverts folder (app/components/advert

[2016-06-29 07:12] vyakymenko commented on #144
@Bohmaster , error in your routes. Your file don't have dependencies with 'router'. Look in your routes.
It's not a seed issue.

[2016-06-29 08:18] igonzalezespi commented on #144
I have similar errors.
Do you have the compiled `.js` and `.js.map` in the same directory as de `.ts` one?
If so, delete it and run `npm start` again. Now the changes work fine for me.
`npm start` should take the /dist/dev directory, but maybe is it taking the compiled one in the project directory after livereload and not after `npm start`?

[2016-06-29 08:40] Bohmaster commented on #144
@vyakymenko My routes are fine because they work great (all it's working fine). It break only when I make a change in some of the files in my custom component folder (adverts). If I run npm start again after the change, it works fine again.

@ivannugo In my component folder I have this (added manually):

app/components/adverts

[code]

The defaults components (such as 'home') has some test-spec an

[2016-06-29 11:15] Goldflow opened #145 "LangSwitcherComponent - i18n bug language switch does not work immediately [Seed Issue]"
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

**Steps to reproduce and a minimal demo of the problem**

_What steps should we try in your demo to see the problem?_
1. Select another language in the language component. (e.g. spanish)
2. Observe no changes
3. Select again another language in the language component
4.

[2016-06-29 14:54] Goldflow commented on #145
related to this apparently: https://github.com/NathanWalker/angular2-seed-advanced/pull/141

[2016-06-29 15:42] joshwiens commented on #144
@Bohmaster - In this particular case, if it's public link the repo.

If it's private, do us a favor and create a fork ( or just push master into a new repo ) and add the **minimal custom code to reproduce the issue you are having**.

I'm happy to take a look at it but trying to run down whatever this is be it a router issue, advanced-seed issue or lord knows what else without having code we can di

[2016-06-29 19:14] Bohmaster commented on #144
@d3viant0ne Of course. I've uploaded my repo.

Here is the custom 'adverts' component:

https://github.com/Bohmaster/angular2-nativescript-redux/tree/master/src/client/app/components/adverts

If I run 'npm start' it works perfectly. Until I make a change in some of these files (only in this component, if I make a change in the default repo components it doesn't break)

Thanks again!

[2016-06-30 04:05] Bohmaster opened #146 "Can't install @ngrx/devtools"
Command:

Result:

[code]

[2016-06-30 05:28] NathanWalker commented on #146
I believe this is normal. It should have actually installed it still no?

[2016-06-30 05:30] #139 closed, assigned to nobody

[2016-06-30 05:31] NathanWalker commented on #101
@d3viant0ne was this still pending?

[2016-06-30 05:32] pocmanu commented on #146
On their github, they say that devtools are not yet compatible with ngrx/store v2.0, which is the version used in the project. Maybe is there a link ?

[2016-06-30 06:55] NathanWalker commented on #146
Ah I see, yes I believe you could link against Mike's github repo which contains the refactor to work with v2: https://github.com/mikeryan52/devtools/tree/v2

[2016-06-30 17:28] joshwiens commented on #146
@pocmanu I use Mike's version via github personally and it works. Give me a shout here on on slack if you have trouble with it.

[2016-06-30 17:30] joshwiens commented on #101
@NathanWalker It was waiting on the whole decoupling thing. I have some maintenance work to do on the Material2 fork planned for Friday post work. I'll stick this back on the docket and fix it upstream.

[2016-06-30 19:34] Bohmaster commented on #144
@d3viant0ne @NathanWalker any clues? It's all working great but I have to run "npm start" for every single change. It should be something very simple. But I'm new to Angular2-Nativescript-Typescript!

[2016-06-30 19:37] Bohmaster commented on #146
Should I clone https://github.com/MikeRyan52/devtools.git directly and do npm install after it? Or do I need to put some git flag to access /tree/v2?

[2016-06-30 21:40] Bohmaster opened #147 "import 'application-settings' error"
I'm trying to store authentication data in the storage:

[code]

Component logic:

[code]

I'm getting this error:

I'm calling it correctly? Or the path is wrong? I couldn't find any example but requiring it like this.

[2016-06-30 21:53] Bohmaster commented on #147
I've found the 'application-settings' module inside nativescript/node_modules folder.

In the package.json is this:

[code]

But there is no "application-settings.js" file inside the folder.

There is "application-settings.ios/android.js" and "application-settings-common.js" that I suspect is the one I'm looking for.

[2016-07-01 05:30] pocmanu commented on #146
@d3viant0ne I'm still just playing with the seed right now, trying to learn ngrx & redux, I don't really need the devtools right now, I don't have much time to dev, but thanks for the help offer (and all the great work you're doing all :))

[2016-07-01 06:44] vyakymenko commented on #144
@Bohmaster , I will try to look for your code today.

[2016-07-01 13:19] m-abs commented on #147
"application-settings" is for nativescript-only, it's sort of their version of localStorage.

You need to create your own storage-service that wraps localStorage on web and application-settings on nativescript.

We're using angular2-localstorage and have wrapped application-settings to provide the localStorage-api on nativescript.
See: https://github.com/marcj/angular2-localstorage/issues/48

[2016-07-01 22:21] Bohmaster commented on #144
@vyakymenko Thank you very much! I've added just one extra component based in the structure of the others.

[2016-07-02 05:00] Bohmaster commented on #144
Fixed! I've reinstalled everything from ground up and now It work's great!

[2016-07-02 05:01] #144 closed, assigned to nobody

[2016-07-02 07:17] Bohmaster opened #148 "start.livesync.android "Unable to sync files. Error is: EISDIR: illegal operation on a directory, read""
Now that I've managed to fix livereload sync in the webside,  I get this error everytime I make a change in android environment. When the emulator is running (npm run start.livesync.android) it works just fine, but when some file has changed, I get this error:

The changes are mirrored both in "/dist" and "/assets/app" (android platform) folders.

I've tried genymotion and Android Studio VDM's and

[2016-07-02 12:52] m-abs commented on #148
I'm having the same issue, but it looks like a known bug in nativescript-cli:
https://github.com/NativeScript/nativescript-cli/issues/1810

[2016-07-02 16:31] friksa commented on #122
Any ideas here?  Is there a way to put bounties on issues like these that are not important to anyone else?

[2016-07-02 17:12] joshwiens commented on #101
@NathanWalker @hellofornow - This has already been fixed [upstream](48da317b00fff173264e2947d468e2d3be5f4dca) and the change is already in #master

https://github.com/NathanWalker/angular2-seed-advanced/blob/master/tools/utils/seed/code_change_tools.ts#L44-L51

Though I would have probably just removed the code as opposed to commenting it out, this issue no longer exists. CSS changes are detected

[2016-07-02 18:18] NathanWalker commented on #147
Thanks for helping answer @m-abs, yes @Bohmaster you would want to do something similar.

[2016-07-02 18:18] #147 closed, assigned to nobody

[2016-07-02 18:19] NathanWalker commented on #146
https://github.com/ngrx/store-devtools are now updated 👍  and you can use them via npm.

[2016-07-02 18:19] #146 closed, assigned to nobody

[2016-07-02 18:21] NathanWalker commented on #122
Hi @friksa take a look at the parent seed Wiki https://github.com/mgechev/angular2-seed/wiki, you can find some answers there 👍

[2016-07-02 18:21] #122 closed, assigned to nobody

[2016-07-02 18:23] NathanWalker commented on #142
At the moment having 2 files is the best way to go (1 for web, 1 for nativescript). There is some exploratory work taking place here: https://github.com/NathanWalker/nativescript-angular-web-components ....that may pave a path to get to what you are referring to above.

[2016-07-02 18:23] #142 closed, assigned to nobody

[2016-07-02 18:24] NathanWalker commented on #100
Yes @aaweb I'm not 100% clear of the changes in angularfire2 and whether this https://github.com/EddyVerbruggen/nativescript-plugin-firebase could work with it?

But there is definitely a detailed step by step on the wiki here for this: https://github.com/NathanWalker/angular2-seed-advanced/wiki/How-to-integrate-Firebase-across-all-platforms-(web-nativescript-desktop)

[2016-07-02 18:24] #100 closed, assigned to nobody

[2016-07-02 18:41] Bohmaster commented on #148
@m-abs I looked at it but it was closed and didn't see any clear solution. I hope we find one soon because is the only cause why I'm blocked from developing with nativescript and angular2.

Do you know any workaround to develop to android until this is resolved?

[2016-07-02 19:45] friksa commented on #122
I have been through all the examples there.  Everything runs fine during development for all client types.

Even the production builds for the electron client is good.  The only issue is with the production build for the web client.

[2016-07-02 19:48] m-abs commented on #148
The only workaround I've is to run "npm run start.livesync.android" manually after each change.
It works okay fast, but not as fast as it would have been if livesync had worked.

[2016-07-02 20:08] Bohmaster commented on #148
@m-abs Do you know can I get full description of my console.logs to access object properties running the emulator?

[2016-07-02 20:12] Bohmaster opened #150 "Symbolic link is not present after clone>npm install."
I have to make the symlink manually. I don't know if this could bring any trouble.

I have two clones. One with the symlink (manually) and other recently cloned without it. If I run "npm run start.livesync.android" inside the folder of the new cloned repo, in the emulator the app showing is the one I have in another folder.

[2016-07-02 20:41] Bohmaster commented on #148
I've cleaned the repository and noticed that it only breaks when I change a ".ts" file. If I change htm/tns.html it works fine until I touch some ".ts" files. After that even "tns.html" files break.

I noticed that when I edit ".ts" files the build/refresh cycle runs twice.

So to be clear:

1) After a fresh reinstall all works fine if I change .html or .tns.hmtl files
2) If a change a ".ts" file

[2016-07-02 21:09] m-abs commented on #148
If you want the properties on an object, you could use Object.keys(varname1), but it'll only give you the objects own enumerable properties, not functions on the prototype/class.

I noticed the same thing with .ts-files, updating nativescript/app/app.css also doesn't work for me but tns.html does.
I'm pretty sure it's a problem with the way nativescript and typescript-integration handles livesync

[2016-07-02 21:16] Bohmaster commented on #148
What I'll try is to run both web and mobile server to log in the browser my ts's "console.log()" so I can get full access to objects while running android at the same time.

I hope we get some insight soon about the livesync. I have an old computer and the build time in comparison to the livesync is enormous.

[2016-07-02 21:44] OscarAgreda commented on #32
Hello @nathanwalker
Any news on the video.
It will be such a blessing  seing this seed come to life under your fingers and explanations.

[2016-07-02 21:46] m-abs commented on #148
Are you looking for a way to debug nativescript interactively? See: https://docs.nativescript.org/runtimes/android/debug/debug-cli#detach-the-debugger

[2016-07-02 21:47] m-abs commented on #150
Have you updated the nativescript.id in nativescript/package.json?

[2016-07-02 21:48] OscarAgreda commented on #37
Hello @d3viantOne
Any news on your last comment ?

[2016-07-02 21:53] joshwiens commented on #37
@OscarAgreda It's next on my list after I finish with the parent seed material2 fork ( doing that right now )
Everything was on hold for a refactoring that ended up not being worth doing upstream.

I should have it done this evening ( depending on testing issues with material2 / zone ). Documentation on `how` to add it should realistically be done tomorrow.

[2016-07-02 21:55] joshwiens commented on #101
@hellofornow - can you please verify this is no longer an issue for you and if so, close it. Thanks :)

[2016-07-02 21:58] joshwiens commented on #118
@NathanWalker - This is a file semantics issue between *nix / Windows, ran into something like it in the parent a few months ago.

`rimraf desktop/windows/* && gulp desktop.windows` - rimraf tanks on glob patterns. I'll go dig up how I fixed in upstream. Testing it will take a minute, need to pull down a windows ISO to test it.

Tomorrow, late assuming all goes well with both Material2 tasks.

[2016-07-02 22:00] Bohmaster commented on #148
I'll take a look at the debugger. Thanks!

When you say "phone" do you mean physical or virtual?

[2016-07-02 22:02] Bohmaster commented on #150
It says "com.yourdomain.appname". What should it say?

[2016-07-02 22:03] m-abs commented on #148
Virtual, but I don't think it make much of a difference.

[2016-07-02 22:19] m-abs commented on #150
Think it as a domain name written from behind.
Our app is called LYT3 (translates to "Listen 3") and the company we work for is called Nota and we're in Denmark (nota.dk), so our app-id is dk.nota.lyt3

[2016-07-02 22:33] Bohmaster commented on #148
It takes about 20 seconds at least. Is it normal? Or my PC is very old?

q9650 @3.0ghz
DDR2 4gb 800mhz
SSD 240gb

[2016-07-02 22:41] m-abs commented on #148
I think it's about the same for me. A full build\* takes 5+ minutes, so 20 seconds isn't too bad.

I know it isn't perfect, but even if livesync worked right you wouldn't be instantaneous sync.
If I just update a tns.html it still takes about 5-10 seconds to reload the app with the changes on my setup.

*) By full build I mean from scratch, if the app hasn't been built and deployed to the phone/em

[2016-07-02 22:43] Bohmaster commented on #148
I'm very used to instant change reflection in the browser. I think I'll
need to get used to this until we get a response from nativescript.

Are you new to Angular2/Typescript/NativesSCript/Redux?

2016-07-02 19:41 GMT-03:00 Morten Sjøgren notifications@github.com:

##

La capacidad para pensar diferente es más importante que la información
obtenida.

[2016-07-03 00:28] amirtoole commented on #101
Ya; will close this as the feature is (unfortunately) unavailable.

[2016-07-03 01:55] joshwiens commented on #101
It works just fine, what's the issue?

[2016-07-03 02:45] amirtoole commented on #101
BrowserSync supports hot loading css changes (without a page refresh). From the parent seed it seems that feature won't be supported.

[2016-07-03 04:36] Bohmaster opened #151 "npm install returns ELIFECYCLE on Windows 7 (DUPLICATED)"
I'm trying to run this project inside Windows to see if I have the same problem with livesync on Ubuntu.

node -v = 5.6.0
npm -v  = 3.6.0

LOG:

[2016-07-03 04:41] Bohmaster opened #152 "npm install returns ELIFECYCLE on Windows 7"
I'm trying to run this project inside Windows to see if I have the same problem with livesync on Ubuntu.

node -v = 5.7.0
npm -v  = 3.10.3

LOG:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\Program Files\nodejs\node.exe',
1 verbose cli   'C:\Users\voidhmaster\AppData\Roaming\npm\node_modules\npm\bin\npm-cli.js',
1 verbose cli   'install' ]
2 info using npm@3.10.3
3 info using node@v5.7

[2016-07-03 05:15] Bohmaster commented on #151
Sorry.

[2016-07-03 05:15] #151 closed, assigned to nobody

[2016-07-03 06:03] Bohmaster commented on #152
Reinstalled using node 5.6.0.

[2016-07-03 06:03] #152 closed, assigned to nobody

[2016-07-03 06:43] joshwiens commented on #101
Ah, I misunderstood what it is you were talking about.

@NathanWalker isn't against deviating from the parent seed when it makes sense. I can certainly see valid use cases for wanting to inject css changes and iirc, it's doable in the seed it would just take a bit of work.

It's up to Nathan.

[2016-07-03 07:16] NathanWalker commented on #101
Hot loading CSS makes a lot of sense to me for this seed. I can't recall why it's not supported in parent seed but I'd be open to enabling if here if no side effects.

Out til Tuesday, check back then.

[2016-07-03 07:32] m-abs commented on #148
Yeah, me too. I can work with the way it is right now, but I'd love for it to be better.
I hope the new release of nativescript solves the problem, but we haven't had time to upgrade yet.

Yes, I am new to all of them
But I've been working with JavaScript for years and started using ES6-features as soon as I could in NodeJS, upgraded to typescript in the spring.
I've some experience in Angular 1.x

[2016-07-03 07:40] Bohmaster commented on #148
New to all. I'm from Argentina (24 years old) and I have not had finished highschool. I've learned all by my self and I don't have much work experience.

I've used Angular 1, and Loopback(strongloop) for a year now (Before that I've played with php, python) and I'm really interested in Angular 2(with redux), typescript, nativescript and Reactive programming with Loopback (with ES6) in the backend.

[2016-07-03 07:41] Bohmaster commented on #148
I leave here all the process with --log trace.

[log.txt](https://github.com/NathanWalker/angular2-seed-advanced/files/344920/log.txt)

I've noticed this:

[code]

I get this a lot of times just before I get the EISDIR error

[2016-07-03 20:47] joshwiens commented on #37
@OscarAgreda - FYI there are still issues with Material2 / Testing without deviating from the parent seed.

Pushing the changes to the material2 branch and it may or may not be PR'd depending on the changes required to get the testing working. Nathan took a different approach to testing which may or may not work out in our favor in the advanced seed.

[2016-07-03 21:54] Bohmaster commented on #148
@jwuliger

[2016-07-04 06:44] Bohmaster commented on #148
I've created this https://github.com/NativeScript/nativescript-cli/issues/1900 in the official nativescript-cli issue board.

[2016-07-04 20:39] m-abs opened #155 "How do I set actionBarHidden?"
With NativeScript we can hide the ActionBar with the page-attribute actionBarHidden=true, in nativescript-angular we have to use:

[code]

But that won't work on web or electron, since we won't be able to import "ui/page" from nativescript on web.
What's the best way to do this?

[2016-07-04 20:46] m-abs commented on #148
@NathanWalker
I noticed on my machine that "tns livesync android --watch --log trace" failed on this:

[code]

"nativescript/app/assets" and "nativescript/app/app" are both symlinks, so I tried to mount-bind them instead of using symlinks, that seems to have solved the problem.

I'm using Linux, so I doubt this workaround will help @Bohmaster on his Windows PC.

[2016-07-04 21:04] Bohmaster commented on #148
@m-abs I'm going to install ubuntu in a partition.

Can you explain me in detail what "mount-bind" is and how to do it?

Great news!

[2016-07-04 21:15] m-abs commented on #148
@Bohmaster
Mount-bind\* mounts a folder on top of another folder. It has the advantage over symlinks that it will be treated as a real folder, the disadvantage is that it requires root and isn't persistent.

This is what I did**:

[code]

You'll have to run the two mount commands after reboot, unlike a symlink mounts like these won't survive reboot.

_) I call it mount-bind because of the "-o bind

[2016-07-04 22:24] Bohmaster commented on #148
I've followed those steps and I'm getting this:

I've noticed that there is no ".js.map" files in the "android/src/assets/app" folders. Do I need to mount this folder to?

@m-abs

[2016-07-06 03:34] #53 closed, assigned to NathanWalker

[2016-07-06 03:45] NathanWalker commented on #155
There's actually a custom root component for the {N} app here:
https://github.com/NathanWalker/angular2-seed-advanced/blob/master/nativescript/app/pages/app/app.component.ts

You can inject `Page` there.

There's some other ways you could go if you need to inject `Page` in other components or other services: a) use an `OpaqueToken` which could be provided for in either platform, using `ui/page` fo

[2016-07-06 05:53] getmetorajesh opened #156 "Data storage for login/token information"
In the current seed there doesn't seem any way to store data? I tried using cookies(`angular2-cookie`) for web and `application-settings` for mobile, but it seems like it can't co-exist(imported) in the same component.

eg:

[code]

Since Typescript doesn't support conditional imports there seems to be no way of storing data in the app or cookies.

[2016-07-06 05:55] Bohmaster commented on #156
Maybe this could be useful. I'm going to try it in a few days.

https://github.com/NathanWalker/angular2-seed-advanced/issues/147#issuecomment-229944545

[2016-07-06 06:06] getmetorajesh commented on #156
Interesting, I tried similar thing. A `StorageService.ts` file with a condition to load `application-settings` or  `cookieService`.

[code]

But unfortunately it doesn't work. It still tries to load the `application-settings.ts` on the web.

[2016-07-06 06:07] Bohmaster commented on #156
Let me know how it goes!

[2016-07-06 11:51] m-abs commented on #156
We use angular2-localstorage\* to store our auth-token and have wrapped application-settings to make an localStorage-like api.
See: https://github.com/marcj/angular2-localstorage/issues/48
It's not too pretty putting things in global-scope like that, but it works.

Inspired by https://github.com/auth0-blog/angular2-authentication-sample/
We've create a LoginComponent and an auth.guard.

[code]

In

[2016-07-06 20:16] Bohmaster commented on #148
@m-abs Did you see this? https://github.com/NathanWalker/angular2-seed-advanced/issues/148#issuecomment-230359934

[2016-07-06 20:23] gvillo opened #157 "SASS Support?"
Is there a chance to include sass in this project? how can i help you?

[2016-07-06 20:34] vyakymenko commented on #157
@gvillo , yeah , just configure in your _project.config.ts_. More details in parent seed https://github.com/mgechev/angular2-seed/wiki/Enabling-SASS-support

[2016-07-06 20:35] vyakymenko commented on #157
I think issue can be closed .

[2016-07-06 20:41] NathanWalker commented on #157
Thanks @vyakymenko yes @gvillo you will want to follow that guide.

[2016-07-06 20:41] #157 closed, assigned to nobody

[2016-07-06 20:45] gvillo commented on #157
thanks guys!

[2016-07-06 23:07] m-abs commented on #148
Sorry, I thought I had replied earlier today,

No, you shouldn't mount that path. Everything under `platform` is where nativescript builds your project to put on devices/emulators.

I don't know why yours complain about missing js.map-files, I don't see that here.

[2016-07-06 23:15] Bohmaster commented on #148
I'll try to install everything from scratch!

Is everything working fine now in your environment?

2016-07-06 20:07 GMT-03:00 Morten Sjøgren notifications@github.com:

##

La capacidad para pensar diferente es más importante que la información
obtenida.

[2016-07-07 06:18] NathanWalker commented on #32
Hi @OscarAgreda due to some refactorings this was placed in long delay. There is one more refactor that will take place over the next week and after that, it should clear the way to record some videos. Thanks for the ping.

[2016-07-07 06:20] NathanWalker commented on #137
@victorsosa Do you have any spare cycles to potentially consider including a generator for this seed in addition to the others that you recently created (which are awesome btw)?

[2016-07-07 06:21] NathanWalker commented on #131
closing due to nonresponse.

[2016-07-07 06:21] #131 closed, assigned to nobody

[2016-07-07 06:27] NathanWalker commented on #61
I'm going to close this due to the desire to leave these types of decisions up to individual seed users/projects. Because it requires more infrastructure to support this type of setup, I believe this is best left for others to implement when it fits their project needs.

[2016-07-07 06:27] #61 closed, assigned to nobody

[2016-07-07 06:29] NathanWalker commented on #150
Closing due to non-standard usage.

[2016-07-07 06:29] #150 closed, assigned to nobody

[2016-07-07 06:30] NathanWalker commented on #148
Closing as this is related to {N} runtime issue which is being tracked: https://github.com/NativeScript/nativescript-cli/issues/1900

[2016-07-07 06:30] #148 closed, assigned to nobody

[2016-07-07 07:26] victorsosa commented on #137
@NathanWalker Yes, I will start working on it.
@jvitor83 nice spec description, I will try to do the requirements. You can check https://github.com/peoplewareDo/generator-nativescript-plugin in the meantime. I let me know anything else. We already have the Yeoman generator for plugin ;)

[2016-07-07 10:51] fourctv opened #158 "Issue with font/image relative paths in css and Electron"
I have some icons that load via 'styles' embedded into one of my components. They are all declared like this in a .css file:

[code]

That works fine on the web, but when I try it via `start.desktop` those icons fail to load.

On debugger I can see that Electron tries to load them as `file:///assets/...`, and of course they are not there.
I've tried to change the url to `/assets/icons/refreshIcon.

[2016-07-07 14:00] victorsosa commented on #137
@NathanWalker I will have to create a new generator for this, because the orginal generator-nativescript-plugin was intent for create nativescript plugins and this project is not a plugin. Also I think I need to wait for the refactor too, right? the one that you mention earlier in this issue.

[2016-07-07 15:06] divramod opened #159 "[ns] app not running because test framework is missing"
hey, has someone recently deleted the test-framework?

i get the following error when running

[code]

[2016-07-07 17:43] NathanWalker commented on #159
Hi @divramod yes I did remove `.framework` from frameworks folder due to change in policy with iOS app store policies which will not allow an app to be published with `.framework` suffix without certain structure. If you merged in latest, please be sure you clear everything:

[code]

lemme know!

[2016-07-07 19:56] lfarran commented on #159
I noticed that the src/client/app/frameworks/test directory was removed.  However, the unit and e23 tests are still referencing it.  For example, the about.component.spec.ts and about.component.e2e-spec.ts have the following import: import {t} from '../../frameworks/test/index'.  Run running 'npm run test', none of the tests are ran.

Test console output:

START:
07 07 2016 14:55:20.142:INFO [karm

[2016-07-07 21:35] #159 closed, assigned to nobody

[2016-07-07 21:36] NathanWalker commented on #159
@lfarran @divramod sorry bout that, indeed that directory was getting ignored. master now has the fix, please update and this should be now cleared 👍

[2016-07-07 21:36] NathanWalker commented on #137
@victorsosa awesome thank you! The refactor is actually complete now so things are ready 👍

[2016-07-08 13:33] divramod commented on #159
@NathanWalker have you tried running the app on a device?

i still get the following errors after running `npm run start.livesync.android.device`

[code]

[2016-07-08 15:14] ykoehler opened #161 "Doc says Node 5.x yet this is deprecated, should be changed to 6.x"
Please update the project's readme to pointe people to nodejs 6.x instead of 5.x

[2016-07-08 15:50] ykoehler opened #162 "Electron: On linux ELIFECYCLE error while running npm run build.desktop.linux"
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

**Steps to reproduce and a minimal demo of the problem**

just run npm run build.desktop.linux using npm 3.10.3 and node 6.3.0

TypeError: Request path contains unescaped characters
    at new ClientRequest (_http_client.js:53:11)
    at TunnelingAgent.exports.request (h

[2016-07-08 15:50] ykoehler commented on #162
[npm-debug.zip](https://github.com/NathanWalker/angular2-seed-advanced/files/354614/npm-debug.zip)

[2016-07-08 16:26] fourctv commented on #158
I did a lot of testing in trying to sort out path resolution in Electron, but I could not figure out how to get to my `assets/icons` folder, from a component's `.css`.

As a workaround for now, I moved all my icon style classes to `main.css` and the `icons` folder into `client/css`, and now they load fine.

My icon style declarations in `main.css` now look like:

[code]

I'd love to be able to mov

[2016-07-08 22:55] adrianadamski commented on #162
Try to `npm run postinstall`. This task haven't worked automatically with npm install for me on linux.

[2016-07-10 13:35] getmetorajesh commented on #156
thanks @m-abs, I ended up with something similar, a common interface `IStorageService` injected in the constructor. In the `app.ts` I passed in `MobileStorage` class and in the `main.web.ts` I used the `WebStorage` class

[code]

[2016-07-10 13:35] #156 closed, assigned to nobody

[2016-07-11 10:19] m-abs commented on #155
Thanks for you reply.
I think I need to use a service, since the nativescript-angular router injects the Page-object.

[2016-07-11 10:19] #155 closed, assigned to nobody

[2016-07-13 15:33] victorsosa commented on #137
Need a little help, yeoman generator based on this seed-advanced will have some questions,
this three are the base of this project:

is web app <- false - will omit the file main.web.ts
is electron <- false - will omit the file main.desktop.ts
is nativescript <- false - the generator will omit the nativescript folder

The boolean value will set or unset the folder or files, please confirm that tho

[2016-07-13 15:44] NathanWalker commented on #137
Yes above is all correct. Web should always be the default so if no to web, and no to others, it would default to create a web only setup. Thanks again for this 👍

[2016-07-13 15:45] NathanWalker commented on #161
Node 5.x works fine, it's what I used :)  Also not sure which doc you are referring to, README here states 5.x and higher.

[2016-07-13 15:45] #161 closed, assigned to nobody

[2016-07-13 15:48] victorsosa commented on #137
great, so the web is the only one by default. The others are optional.

[2016-07-13 18:54] victorsosa commented on #137
Task 3: Some libs included <- are those libraries optional or required? also those libs are going to be included using npm, right?

[2016-07-14 12:51] divramod opened #164 "[Nativescript] errors when running 'npm run start.livesync.android.device'"
[code]

why is there a space in:

[code]

[2016-07-14 12:55] divramod commented on #164
i was able to remove the errors after uninstalling the app via adb

[2016-07-14 12:55] #164 closed, assigned to nobody

[2016-07-14 12:57] divramod opened #165 "[typescript] how to get rid of errors"
when starting the nativescript app via: `npm run start.livesync.android.device` i get some typescript errors. could anyone tell me how to get rid of them?

[code]

[2016-07-14 22:36] m-abs commented on #165
edit the file `nativescript/references.d.ts`

[code]

By gitignore-rules d.ts-files are not in git, but you could force add it with `git add -f nativescript/references.d.ts`

[2016-07-15 09:30] divramod commented on #165
@m-abs thank you, that solved it

[2016-07-15 09:35] divramod commented on #165
@NathanWalker does it make sense to add this to the seed?

[2016-07-15 09:53] phra opened #167 "add core-decorators?"
hi,

what do you think about adding [core-decorators](https://github.com/jayphelps/core-decorators.js) to this project?

[2016-07-15 12:41] m-abs commented on #167
Can core-decorators be used along with ng2's decorators or replace them?

[2016-07-15 13:30] phra commented on #167
i think that they can be used along with native decorators. they are just stage-1 esnext decorators. here the [proposal](https://github.com/wycats/javascript-decorators) about them.
in fact without babel or typescript decorators cannot be used.

[2016-07-15 14:00] NathanWalker commented on #165
Yes it definitely does, if you want to PR I will merge.

[2016-07-16 23:22] BenevidesLecontes commented on #79
I'm having this issue too, I need to run npm start, everytime i change anything.

[2016-07-18 15:25] OscarAgreda commented on #37
I am sure you are aware of this , but just in case

the angular-material core-team is now stopping development on Material 1
https://groups.google.com/forum/#!topic/ngmaterial/4ActiQp3nA0

Which means they will totally increase the rate of Material2 development .

[2016-07-18 18:40] joshwiens commented on #37
@OscarAgreda - If I know Jeremy, he will hold the steady pace and maintain quality and control of Material2.

Material1 is a hot mess as a project, I'll be you lunch he keeps the reigns tight on Material2.

[2016-07-19 17:45] NathanWalker commented on #167
These look awesome 👍  If you wanted to try to integrate on a forked branch to determine if they work alright, I would be interested in possibly merging a PR. The only hesitation I have on something like this is obviously it would be somewhat redundant with `lodash` integration currently. Not entirely but would have some overlap. The other con is most people would not be familiar with these so is s

[2016-07-19 18:52] #165 closed, assigned to nobody

[2016-07-19 18:52] NathanWalker commented on #165
This is available on master now 👍

[2016-07-19 18:56] NathanWalker commented on #137
@victorsosa RE: Task 3 - You could provide an _option_ to install those with the seed but it's not required. Most 3rd party lib integration outside of whats provided here out of the box should probably be left to user to integrate. Always use npm, yes.

[2016-07-19 18:56] NathanWalker commented on #94
Closing to investigate at a later time after final release.

[2016-07-19 18:56] #94 closed, assigned to nobody

[2016-07-19 18:58] phra commented on #167
ok, i'll fork to see what happens and i'll let you know. :+1:

ps: [actually](https://github.com/cht8687/You-Dont-Need-Lodash-Underscore) i'm not a lodash fan, i prefer vanilla ecmascript/esnext.

[2016-07-20 04:14] #145 closed, assigned to nobody

[2016-07-20 04:14] NathanWalker commented on #145
Just pushed up a nice workaround for this... working on master now 👍

[2016-07-20 08:55] igonzalezespi opened #169 "Error with i18n with last update only NativeScript"
**Information**
Linux, Ubuntu 16.
NPM: 3.10.5
NODE: v6.3.0
TNS: 2.1.1
Android: 4.4.2

**Steps to reproduce and a minimal demo of the problem**
Install the proyect and run:
`npm run start.livesync.android.device`

**Error**
JS: Error: Uncaught (in promise): EXCEPTION: Error in /data/data/com.yourdomain.appname/files/app/app/components/app/app.component.tns.html:2:2
JS: ORIGINAL EXCEPTION: TypeError

[2016-07-20 10:27] ruanzy opened #170 "radio is not checked?"
`import {Component} from '@angular/core';

@Component({
    templateUrl: 'assets/setting.html'
})
export class Setting{

[code]

}`

`<input type="radio" name="lang" id="lang1" value="cn" [(ngModel)]="lang">`
`<input type="radio" name="lang" id="lang2" value="en" [(ngModel)]="lang">`

[2016-07-20 16:34] #169 closed, assigned to nobody

[2016-07-20 16:39] NathanWalker commented on #169
Thank you for reporting @ivannugo just pushed up a fix. When you pull in latest, do this as well to reset everything before giving it a shot:
From root ---

[code]

[2016-07-20 16:48] NathanWalker commented on #169
Please reopen if you still encounter the issue _after_ doing the above 👍

[2016-07-20 16:50] NathanWalker commented on #170
Closing due to reported issue pointing to nothing that would help lead to an understanding of the issue.

[2016-07-20 16:50] #170 closed, assigned to nobody

[2016-07-20 18:10] lynsei opened #172 "spawn gradle.bat NOENT"
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

Running on win10 x64, with android studio functioning on Android Platform 22 with a functional emulator.  The emulator launches, but after building out the typescript stuff, the nativescript process keeps failing.  I upgraded to nativescript 2.1.1 (and also tried 2.0x) t

[2016-07-20 18:50] lynsei commented on #172
This might help:

:processF0DebugManifest
:processF0DebugResources FAILED

FAILURE: Build failed with an exception.
- What went wrong:
  Execution failed for task ':processF0DebugResources'.

- Try:
  Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

Total time: 51.237 secs
Command D:\Ang-rebase\coolblr\ngs2\se2\nativescri

[2016-07-20 20:05] lynsei commented on #172
OK an update.... I had run node js 5.12.0 x32 and I got it to finish the build process.... I had to clean everything first.   However, once it emulates I'm getting this from npm run start.livesync.android:

JS: ERROR CONTEXT:
JS: [object Object]
JS:
JS: undefined
JS: EXCEPTION: Error: Uncaught (in promise): EXCEPTION: Error in /data/data/com.yourdomain.appname/files/app/app/components/app/app.comp

[2016-07-21 00:10] lynsei commented on #172
ok maybe it's something with this code or it's not pulling the language files or something:

[code]

[2016-07-21 01:38] yvoronen opened #173 ""index_1.ViewBrokerService.STYLE_URLS is not a function " after source rebuild and page refresh"
**Steps to reproduce and a minimal demo of the problem**

[code]

modify any file in src/client, page refreshes in browser and you get an error

**Current behavior**
You get an error after page refresh (due to modified source files):

[code]

**Expected/desired behavior**

**Other information**

[2016-07-21 03:19] ruanzy opened #174 "radio default checked?"
`import {Component} from '@angular/core';

@Component({
templateUrl: 'assets/setting.html'
})
export class Setting{

lang:string = 'cn';
constructor(){

}
}`

`<input type="radio" name="lang" id="lang1" value="cn" [(ngModel)]="lang">`
`<input type="radio" name="lang" id="lang2" value="en" [(ngModel)]="lang">`

the first radio not checked?

[2016-07-21 17:46] deanpeterson commented on #172
I am getting the same error on a Mac Pro with Nexus_5_API_23 emulator. I have attached a screenshot.
![screen shot 2016-07-21 at 12 46 35 pm](https://cloud.githubusercontent.com/assets/1156788/17032901/2c2043d4-4f41-11e6-92f5-7ec78e7fd5fe.png)

[2016-07-21 17:51] deanpeterson commented on #172
here is more of the stack trace in the terminal

[code]

[2016-07-22 16:27] NathanWalker commented on #172
Thanks for reporting this, looks like the {N} ng2 -translate adaptor needs an update possibly. I'll have this fixed later today.

[2016-07-22 21:14] #172 closed, assigned to nobody

[2016-07-22 21:15] NathanWalker commented on #172
This is now fixed on master. When you pull latest in, just clear:

[code]

Thanks again.

[2016-07-22 21:22] NathanWalker commented on #174
You may try solutions here:
http://stackoverflow.com/questions/31879497/angular2-radio-button-binding

[2016-07-22 21:27] NathanWalker commented on #173
This is usually the case where you may have some cached compiled js files...  also check inside frameworks/core/services... and remove all *.js files and *.js.map files (if any)

Then ensure you are up to date with latest master, then:

[code]

[2016-07-23 15:12] OscarAgreda commented on #32
Hello @NathanWalker  any news on the refactoring ?

[2016-07-25 19:27] yvoronen commented on #173
thank you, that was it. Sorry for the noise.

[2016-07-25 19:27] #173 closed, assigned to nobody

[2016-07-25 19:42] yvoronen opened #176 "Streamline/cleanup adding of external dependencies"
**Steps to reproduce and a minimal demo of the problem**

Adding an external JS dependency to a project requires changes to a lot of different files, leading to bugs, and unexpected behavior.  This is not fully documented. Ideally one would somehow simplify this.

**Current behavior**

In order to add a dependency, at a minimum it seems that one would have to patch the following files

[code]

Wit

[2016-07-26 07:26] NathanWalker commented on #174
Closing as this issue does not appear to be related to the seed. Please see stackoverflow or angular docs for answers to issues like this.

[2016-07-26 07:26] #174 closed, assigned to nobody

[2016-07-26 08:03] archonik opened #177 "NativeScript wont run after installation"
**Steps to reproduce and a minimal demo of the problem**
Just Downloaded the repo and run

npm install
npm run start.android

**Current behavior**
`EXCEPTION: Error in /data/data/com.yourdomain.appname/files/app/app/components/app/app.component.tns.html:2:2
ORIGINAL EXCEPTION: TypeError: Cannot read property 'take' of undefined
ORIGINAL STACKTRACE:
TypeError: Cannot read property 'take' of undefin

[2016-07-26 14:45] deanpeterson opened #178 "Failed to find Module"
I just pulled down the latest and tried to run the android native script demo on a Mac.  I get the following error:
![screen shot 2016-07-26 at 9 44 56 am](https://cloud.githubusercontent.com/assets/1156788/17142406/a19cbb10-5315-11e6-86d4-5e34a967b05a.png)

[2016-07-26 17:41] NathanWalker commented on #178
Hi @deanpeterson did you run `npm i` from the root of the project?
Also did you use `npm run start.android` to run from the root?

[2016-07-26 18:04] deanpeterson commented on #178
Yes. I did both. I have been doing some reading. I had to install everything, including npm as root. I am normally on either a Redhat Linux machine or a Windows machine for development. Is it an absolute must that I set up my mac machine to allow non root npm i to get this to work on a mac?

[2016-07-26 18:10] deanpeterson commented on #178
no matter what I try I keep getting these typescript issues. They appear to be the real problem:

[code]

[2016-07-26 18:17] NathanWalker commented on #177
sounds like you may have downloaded before the fix went up for that... please try downloading again, that fix went in on 22nd: https://github.com/NathanWalker/angular2-seed-advanced/commit/f4b4e5d09249151a9c3f6bce1470c371a217e905  Please close once you have done so.

[2016-07-26 18:19] NathanWalker commented on #178
I've seen that issue reported before in parent seed, check this for solution:
https://github.com/mgechev/angular2-seed/issues/147

[2016-07-26 18:59] deanpeterson commented on #178
I was able to get past one problem by typing tsc --project tsconfig.json.  I am now at least able to run the web app with npm start.  However, I am getting a new error in the android emulator npm run start.android:
![screen shot 2016-07-26 at 1 57 09 pm](https://cloud.githubusercontent.com/assets/1156788/17151435/30f99788-5339-11e6-8e13-1a47a425a86f.png)

[2016-07-26 20:46] deanpeterson commented on #178
I have cleaned everything up. All ts files are compiled. There are no errors during startup and I still get the above error about the "Application entry point file not found" running the android native script application. The web application works.

[2016-07-27 05:04] syrys-jwt opened #179 "build.prod not working (error with @angular/forms.js)"
Hey Guys,

Im new to angular2 and this seed project, i just started playing around with it and noticed that the repo fails to build for production, but dev builds and the normal run command work just fine. Can someone help me get started?

here is the error i get when i run the command `npm run build.prod`

[code]

Steps to reproduce you ask? Simple.
Follow the steps mentioned on the main readme f

[2016-07-27 05:26] syrys-jwt commented on #179
@NathanWalker Are you the culprit? haha.
https://github.com/NathanWalker/angular2-seed-advanced/commit/36128ffda184ba68cd74d75587b6604eb55fa486
I hope im not doing something wrong here. But thats definatly the commit that looks like whats causing the issue. Im assuming the package version numbers might be incorrect, the versions that you are expecting this file/package changes?

[2016-07-27 07:19] archonik commented on #177
Ok Works

[2016-07-27 07:19] #177 closed, assigned to nobody

[2016-07-27 07:23] NathanWalker commented on #179
Thanks for reporting this. Production likely needs to be updated, that commit is correct is fixing the paths so that is for good reason ;) I'll fix prod build tomorrow.

[2016-07-27 07:30] #179 closed, assigned to nobody

[2016-07-27 07:31] NathanWalker commented on #179
Actually I just went ahead and fixed it 👍  Please pull master (or merge in latest master to your project) and give it a go. Thanks again for bringing this to my attention!

[2016-07-27 07:33] NathanWalker commented on #178
@deanpeterson Seems like I've seen this with an incompatible android emulator version?
You may try using [GenyMotion](https://www.genymotion.com/) or at least use 5.1 android virtual device.
Also make sure your `tns` version is at least `2.1.1`.

[2016-07-27 07:35] NathanWalker commented on #162
@ykoehler did running `npm run postinstall` work for you here?

[2016-07-27 07:37] NathanWalker commented on #135
@haukka I'm going to close this since wijmo likely has there own package structure but you would want to find others who have integrated it with systemjs and apply those same principles here.
Also try with latest seed since some good fixes have gone in since the time you experimented.

[2016-07-27 07:37] #135 closed, assigned to nobody

[2016-07-27 10:07] syrys commented on #179
(oops, posted the original bug using the wrong account)
@NathanWalker  Hey man, thanks so much for the quick fix. and no worries about posting it, will happily do that in the future. I have couple of unrelated questions for you guys, sort of support related but the answers to them could be beneficial to be added to the wiki/readme. Do you guys have a good way i can ask these? Its sort of related t

[2016-07-27 15:14] deanpeterson commented on #178
It must have been permission issues. I had cloned the angular2 advanced seed as a sudo user. I deleted everything, ran this: sudo chown -R deanpeterson $(npm config get prefix)/{lib/node_modules,bin,share}, then re-cloned the project as a non-sudo user and tried again.  It is working now.

[2016-07-27 15:14] #178 closed, assigned to nobody

[2016-07-27 19:08] exk0730 opened #180 "Advanced module path mappings"
**Current behavior**

To import a module:
`import { BaseComponent } from '../../frameworks/core/index';`
(as seen [here](https://github.com/NathanWalker/angular2-seed-advanced/blob/master/src/client/app/components/about/about.component.ts#L1))

**Expected/desired behavior**

To import the same module:
`import { BaseComponent } from 'frameworks';`

**Other information**
I've tried a bunch of differ

[2016-07-28 01:49] yvoronen commented on #180
If you switch to bleeding edge TypeScript (1.9+), I haven't tested this in 2.0beta, then you can do this via tsconfig.json.

Add the following to tsconfig.json:

[code]

More info here: https://github.com/TypeStrong/atom-typescript/issues/833

[2016-07-28 01:53] yvoronen commented on #180
It looks like it is available in TypeScript 2.0 beta as well. Here is stackoverflow reference:
http://stackoverflow.com/questions/34925992/how-to-avoid-imports-with-very-long-relative-paths-in-angular-2/34926643

[2016-07-28 12:22] exk0730 commented on #180
Hey @yvoronen! Yeah, I actually upgraded to 2.0 just for this purpose - it fixes ~a~ but then ~b~ breaks. Here are the relevant parts of the configuration files:

[code]

[code]

Keep in mind I moved the components directory from the base seed into a "main" directory.

So with the above two edits to the configurations, I can do:

`import { BaseComponent } from 'frameworks/index';` and the Typescri

[2016-07-28 15:58] sozgul opened #181 "Issues with Firesbase integration and deployment in Nativescript"
**IMPORTANT**: This repository's issues are reserved for feature requests and bug reports. Do not submit support requests here.

Dear Nathan,

**Steps to reproduce and a minimal demo of the problem**

Upon cloning the seed repository and following through your wiki to integrate Firebase across all devices we get errors right away with Android integration despite our efforts to first follow your in

[2016-07-28 22:23] sozgul commented on #181
The problem was the package names in package.json files.

I guess the ./nativescript/package.json should have its "name" attribute equal to the ending of the package name in the root directory package.json.

ie.
./package.json -> "name": "prototype"
./nativescript/package.json  -> "name": "prototype"

[2016-07-28 22:23] #181 closed, assigned to nobody

[2016-07-29 12:01] syrys opened #182 "Sass/Less/Compass Support?"
Hey Guys,

Im curious, there seems to be some flags within the config files implying sass support, but i cant seem to get it enabled. Does this seed project have sass support out of the box, or would i need to add a new sass/compass/less package and write a gulp task for it manually?

Any help would be appreciated. I prefer to have Compass support.

Cheers

[2016-07-29 19:42] yvoronen commented on #180
it seems you omitted the '*'s. Just below should be sufficient to allow you to import from frameworks/index. You can also get to your components via `import ... from 'main/components/index'`.

[code]

My IDE (VSCode) currently does not like these imports, but gulp build.dev works just fine and there are no compile errors. I have another project with same setup, and IDE is totally cool with that.

[2016-07-29 20:03] yvoronen commented on #180
I got IDE to work now. The problem was that there was a second tsconfig.json inside src/client, which the IDE was picking up. That one should look as follows, because it is relative to src/client

[code]

And you might need to edit .vscode/settings.json  (opens via Preferences->Workspace settings) to add the below

[code]

[2016-07-29 22:31] syrys commented on #182
Actually, i figured out the sass integration my self after looking at the sass branch (didnt see it before). Although, i did have trouble merging that branch with master unfortunately (lot of conflicts, seems to be using a much older version of the repo). I just looked at what they did with the sass branch and made the changes manually (fairly simple, adding/changing about 5 files).

Maybe someone

[2016-07-29 22:48] yvoronen commented on #182
syrys, we use sass, no problems at all. No need to merge any branches.

Just edit your project config file `tools/config/project.config.ts`, add the following line:

[code]

FYI, this overrides settings in `seed.config.ts` and `seed-advanced.config.ts`. Don't edit those files directly.

[2016-07-29 23:38] syrys commented on #182
@yvoronen oh really? I will give that a try soon and get back to you. I guess i have been doing it wrong this whole time haha. I did went ahead and edited the definition of ENABLE_SCSS on the file it was defined (seed.config.ts i believe) to test it and hard coded it to true, but threw some errors when i tried to `npm start` (it was probably getting overwritten maybe). Anyway, i will get back to e

[2016-07-30 01:21] syrys commented on #182
@yvoronen that worked perfectly. Awesome. I didnt realise that the package.json had sass imported, i would have looked in further if i saw that haha. Derp moment.

Im curious though, if i wanted to change some compile settings for sass (not sure why this is not already there by default), is this the correct way to approach (ofcorse it works fine, just want some input):

`project.config.ts` (inside

[2016-07-30 08:38] yvoronen commented on #182
Glad it helped! This looks right. There is a helper to assist with this:

[code]

but you don't have to use it really.

[2016-07-30 09:35] syrys commented on #182
@yvoronen ah awesome, i will use that for consistency sake (and so i remember that helper exists haha).

All works. Had to do few more tweaks before getting it working though. All was fine for dev build, but the production build failed due to existence of the component css files. Again, only change i have done to the project from master branch by this point is to add the lines mentioned above and

[2016-07-30 10:17] syrys commented on #182
@yvoronen (or anyone else :p) are you by any chance able to give me some advice on something electron related (maybe i should make a different ticket, but there doesnt seem to be any place i can ask for some support questions and i feel bad asking support queries in issues section).

Im trying to intergrate the electron's ipc connection with the code (more info here: `https://github.com/electron/e

[2016-07-30 11:51] zeeshanjan82 opened #183 "Debugging NativeScript App"
I am currently building a nativescript app using the seed project, I am not able to find a way to debug the app. Is there any command I could use to debug the app using node-inspector when my app is running inside the emulator?

[2016-07-30 15:12] kaxank opened #184 "Android application doesn't update firebase database"
Hi,

when i "npm start", everything works fine, when i open my browser, my projects home.component.ts starts to update and add 'counters' in my firebase database every 3 seconds. I can see updates in my console.firebase database.

[code]

When i  "npm run start.android", it starts on my device and also an emulator without problem as i see.
After project successfully built,

My Terminal:

[code]

I

[2016-07-30 15:53] zeeshanjan82 opened #185 "HTTP Not working in NativeScript"
I am working on angular2 + nativescript project using this seed project and I am not able to make a simple HTTP POST call using this code

[code]

this code works fine in normal angular2 app but in native script it gives the error:
Response with status: 200 for URL: null

[2016-07-31 04:34] syrys opened #186 "Importing Electron (libraries/modules) to Web/Frontend"
Hey Guys,

Thought i should post this in its own post as it might help others in the future.

Im trying to integrate the electron's ipc connection with the code (more info here: `https://github.com/electron/electron/blob/master/docs/api/ipc-main.md`). I can easily do the backend part of it (simply adding the IPCMain stuff to the `main.desktop.ts`). For the frontend (web) part, its a bit tricky, an

[2016-07-31 06:30] NathanWalker commented on #184
Hi @BlackMr did you use [this wiki article](https://github.com/NathanWalker/angular2-seed-advanced/wiki/How-to-integrate-Firebase-across-all-platforms-(web-nativescript-desktop)) as a guide on how to integrate firebase into {N} and web?

You should be using the web firebase sdk for web and the native iOS sdk for {N}.

[2016-07-31 06:35] NathanWalker commented on #185
Hi @zeeshanjan82 are you working off the latest master from this seed?

Lemme know if you have `HttpService` in your codebase (previously the seed provided that service as an intermediate to bridge to next version of {N}), it was recently removed as was no longer needed.

Also please check that your `nativescript/package.json` should ref at least these 2:

[code]

Lastly, ensure that your `NS_APP_

[2016-07-31 06:37] NathanWalker commented on #186
This is really good insight @syrys thank you for this. I'm not sure of a better way either however your method sounds feasible. We may repurpose this as a wiki article soon but lets leave open to see if any more improvements could be suggested by others. 👍

[2016-07-31 06:42] NathanWalker commented on #184
Hi @BlackMr, could you post what your NSDatabaseService looks like?
Just double-checking that you following [this wiki article](https://github.com/NathanWalker/angular2-seed-advanced/wiki/How-to-integrate-Firebase-across-all-platforms-%28web-nativescript-desktop%29) on setting up firebase for both {N} and web?

[2016-07-31 06:44] NathanWalker commented on #183
If using VS Code, you can set breakpoints using this extension: https://www.nativescript.org/nativescript-for-visual-studio-code

You can use node/web inspector following this: https://docs.nativescript.org/runtimes/android/debug/debug-cli

[2016-07-31 06:46] NathanWalker commented on #180
@exk0730 love the idea of this and always wanted to do it.
@yvoronen Very exciting to hear you got this working; I'll look fwd to trying this soon; I'd be interested in a PR along these lines if you ever get time to submit one.

[2016-07-31 10:59] syrys commented on #186
@NathanWalker awesome, great to know that im not completely off haha. I was a little confused as to the purpose of the `client/app/frameworks/*` section. Wasent 100% sure what that section was used for.

Also, if what i said above is actually accurate, then maybe that code snippet might be worth including almost as it is on the seed. Because for Electron developers, why wouldnt you inject electron

[2016-07-31 12:46] victorsosa commented on #137
@NathanWalker Please check out https://github.com/peoplewareDo/generator-ng2-seed-advanced and let me know; still under development.

[2016-07-31 12:51] victorsosa commented on #137
I am working in the task 4: Sass or less, using the info in https://github.com/NathanWalker/angular2-seed-advanced/issues/182.

[2016-07-31 14:25] kaxank commented on #184
Hi,
Yes I am trying for setting up firebase for both for {N} and web.
I began with "NathanWalker/angular2-seed-advanced"
then
https://github.com/NathanWalker/angular2-seed-advanced/wiki/How-to-integrate-Firebase-across-all-platforms-(web-nativescript-desktop)
then
https://github.com/EddyVerbruggen/nativescript-plugin-firebase

My NSDatabaseService:
 "nativescript/app/shared/core/services/database.

[2016-07-31 18:00] NathanWalker commented on #186
`client/app/frameworks/*` is out of the box seed code to support various things like i18n and/or core services like `LogService` and `WindowService` for instance which can be injected and safely used cross platform without worry it would break one or the other. It's intended for seed users to build their custom app code our of a folder inside`frameworks`; helps keep their code portable and altoget

[2016-07-31 18:11] NathanWalker commented on #184
I'll update the wiki in moment but 2 things you should modify with your `NSDatabaseService` (ensure callbacks are run in NgZone):

[code]

Try that and lemme know.

[2016-07-31 22:09] syrys commented on #186
Yup, if you code it well, usually it would be something like services (i think thats what they still call them in ng2, but ng1 had services/factories) that will see the bulk of the difference between web/desktop builds as the components (used to be controllers/directives) and pipes would and should remain the same. if you want different html, since its linked within the component, you can just cre

[2016-08-01 05:45] syrys opened #187 "Electrons (main.desktop.ts) environment name is incorrect"
Just debugged an issue i was having and tracked down to this. So, if you look at `main.desktop.ts`, you will see a pretty obvious line (if statement) near the top that has the following in it `process.env.NODE_ENV === 'development'`. Unless i somehow messed something up somewhere, This will ALWAYS be false. because if you inspect `process.env.NODE_ENV`, the value is infact `"development "` (yes, t

[2016-08-01 12:56] exk0730 commented on #180
@yvoronen Thanks! I'm going to look into this today.

[2016-08-01 15:38] exk0730 commented on #180
@NathanWalker @yvoronen I was able to get MOST of the functionality working (tests are screwed up and the desktop app does not load the data.json file) - I mostly just wanted to see the app run in each environment. A few things to get it up and running:

1) In `project.config.ts`, add the following:

[code]

2) In the `frameworks` folder, add an `index.ts` file and add the following:

[code]

3) C

[2016-08-02 15:58] zeeshanjan82 opened #188 "Change Android App Name"
I would like change the default AppName for Android from 'nativescript' currently each time I install the app it has the default app_name as 'nativescript' how can I change it. I noticed that the app_name is dynamically assigned to AndroidManifest.xml file

[code]

How can I change these values?

[2016-08-02 16:19] zeeshanjan82 commented on #185
thanks @NathanWalker the issue was mainly because I was calling an https service which has not valid SSL certificate though I was not able to make out this error easily, but I am closing this issue.

[2016-08-02 16:19] #185 closed, assigned to nobody

[2016-08-02 16:33] zeeshanjan82 commented on #188
Was able to figure this out.

[2016-08-02 16:33] #188 closed, assigned to nobody

[2016-08-02 22:28] sozgul commented on #184
Hey Nathan,

I'm working with @BlackMr to extend your seed setup to our project. We have updated the code as your instructions, however we are still unable to identify why the android application would not update the firebase database.

One thing that we forgot to mention is that the iOS application is able to update the firebase database. Even before the changes you suggested, the previous config

[2016-08-03 12:05] kaxank commented on #184
Hi,

I guess firebase doesn't return a response. So 'callback' is not defined and 'if' conditional never gets invoked.
Still i don't understand why ios update firebase and Android can't, although firebase initiates successfully.

[code]

Thank you

[2016-08-03 14:15] sozgul commented on #184
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/58

This issue from the EddyVerburgen's plugin is describing the exact same issue regarding Android app not updating Firebase. I hope his approach might inspire a solution. However, after a while he concluded that it wasn't an issue about the plugin and I believe isn't actively working on the issue.

[2016-08-03 14:57] ernestlombardi commented on #37
@NathanWalker @OscarAgreda Would love to use Material2 in my project. Any ETA on a working branch for angular2-seed-advanced?

[2016-08-03 16:02] zeeshanjan82 opened #189 "Running Index.html directly"
I have a very important and basic question as I am planning to use this seed project in my new cordova based application. When I clone the seed repo and run the command `npm run build.prod` I am able to get the release inside the dist/prod folder. When I run the release using some web server then I am able to view the app properly however my plan is to use the same seed project with cordova, I had

[2016-08-03 16:20] vyakymenko commented on #189
Reason in relative path. Run it in server , or use _base_ property when building your app.

[2016-08-04 15:10] pravegali opened #190 "NativeScript app not working when deployed to a AVD."
![image](https://cloud.githubusercontent.com/assets/12238474/17407115/1c39578c-5a34-11e6-8481-0cfdd5734b24.png)

Above is the screenshot of the error on the AVD.
Looked at the code , files like app.ts under nativescript are yielding errors for the import statements.

Any help is appreciated.!!

And the lines below on nativescript/app/pages/app/app.component.ts

import {AppComponent} from '../../ap

[2016-08-05 09:23] igonzalezespi opened #191 "Implementing angular2-forms with NativeScript"
Can be angular2-forms be implemented with NativeScript?
What's the best way if so?

[2016-08-05 16:40] NathanWalker commented on #190
Did you run:

[code]

in the root on the project (not in the `nativescript` folder) first?

Your errors indicate that the symlink was not setup properly which is usually setup after running `npm i` in the root.

[2016-08-05 16:46] NathanWalker commented on #189
@vyakymenko is correct, you will need to adjust the base property.

Feel free to share the NativeScript issues you faced, I may be able to help get you going there faster than trying to setup a hybrid.

[2016-08-05 17:01] NathanWalker commented on #187
Are you on Windows or Mac?

[2016-08-05 17:06] NathanWalker commented on #187
Hmm, I actually just looked at this and there's no space. It's `development`. At least on a Mac, so it's correct on master. I'm going to close this now but if you are on Windows and seeing this, please reopen.

[2016-08-05 17:06] #187 closed, assigned to nobody

[2016-08-05 17:44] NathanWalker commented on #191
Hi @ivannugo good question! I have been wanting to experiment with new forms api and {N}.
If anyone else has tried, please share experience here. When I'm able to get to it I'll let you know.

[2016-08-05 17:45] NathanWalker commented on #183
@zeeshanjan82 sounds like you went with cordova. If you are still curious about {N} options, just ping me back here.

[2016-08-05 17:45] #183 closed, assigned to nobody

[2016-08-05 17:46] NathanWalker commented on #167
Closing for later experimentation.

[2016-08-05 17:46] #167 closed, assigned to nobody

[2016-08-05 17:47] NathanWalker commented on #118
This appears to be fixed. @vivek-chowdhury if you see differently, please reopen.

[2016-08-05 17:47] #118 closed, assigned to nobody

[2016-08-05 17:48] NathanWalker commented on #162
closing due to no response.

[2016-08-05 17:48] #162 closed, assigned to nobody

[2016-08-05 17:50] NathanWalker commented on #137
Thanks @victorsosa no rush, a generator is certainly a luxurious thing and your starting generator is looking awesome; your work is excellent. 👍

[2016-08-05 17:53] NathanWalker commented on #32
@OscarAgreda so sorry for delay in these videos. They take time to do well and have not had ample time this summer to produce them. If you have any specific questions, feel free to ask though.

[2016-08-05 21:49] syrys commented on #187
@NathanWalker Yes im using Windows (10). And yes its a problem. Just to make sure:

Did a fresh `git clone` and `npm install` just now. added a line `console.log(process.env)` to `main.desktop.ts` and ran `npm run start.desktop.windows`. Within the huge console log dump, i see the following line:

[code]

Maybe i will try to debug it when i have a bit of time.

[2016-08-05 21:50] shlomiassaf commented on #37
@d3viant0ne Some of the packages in `material2` are web platform specific.
This mainly related to the **Overlay** and **Portal** components in `material2/core`.

The 2 are the base foundation for a lot of components to come, such as drop down, dialogs and every component that needs an overlay.

I know Jeremy doesn't plan to support multiple platforms.

What are the plans for this integration, in s

[2016-08-05 22:04] syrys commented on #187
so from a quick read, it seems like this value is set on your computer somehow? Is this correct?

If that is the case, i guess mine is set wrong, which i dont quite know how to fix (so the issue is coming from my machine). But if that is the case, and if this is not common knowledge, then should this value really be used to determine if the environment is `development` or `production`? Shouldn't w